@charset "UTF-8";
@import url(https://portal.etoos.com/css/library/swiper.min.css);

body {font-family:"Noto Sans KR", sans-serif;overflow-y:scroll;}

/* 탑 배너 */
.top_bn {width:100%;min-width:1280px;height:80px;background:#242424;}
.top_bn .inner {height:100%;display:flex;justify-content:center;align-items:center;}
.top_bn .inner .title{margin-right:27px;}
.top_bn .inner a + a{margin-left:12px;}

/* 탑 콘텐츠 */
.main_wrap .top_container {height:900px;}
.main_wrap .top_container .top_cont{position:relative;width:100%;min-width:1280px;height:900px;background:url('../../images/portalPage/top_main.png') no-repeat top center, url('../../images/portalPage/top_bg.png') repeat top center;}
.main_wrap .top_container .top_cont_3pAfter {position:relative;width:100%;min-width:1280px;height:900px;background:url('../../images/portalPage/top_main_after.png') no-repeat top center, url('../../images/portalPage/top_bg_after.png') repeat top center;}

.main_wrap .top_container .inner {position:relative;width:1280px;margin:0 auto;}
.main_wrap .top_container .inner .mainTitleWrap {position:absolute;top:273px;left:100px;width:950px;height:350px;z-index:1;}

.main_wrap .top_container .inner .mainTitleWrap .main_title_txt1 {position:absolute;top:-198px;left:-81px;opacity:0;;animation:fadeIn .4s forwards .1s;}
.main_wrap .top_container .inner .mainTitleWrap .main_title_txt2 {position:absolute;top:369px;left:-79px;opacity:0;animation:fadeIn .4s forwards .2s;}
.main_wrap .top_container .inner .mainTitleWrap .main_title1 {position:absolute;top:0;left:0;transform:scale(1.2);animation:fadeInRight1 1s forwards;}
.main_wrap .top_container .inner .mainTitleWrap .main_title2 {position:absolute;top:41px;right:-203px;transform:translateX(-200px);animation:fadeInRight2 .8s forwards .2s;}
.main_wrap.after .top_container .inner .mainTitleWrap .main_title_txt1 {position:absolute;top:-198px;left:-81px;opacity:0;animation:fadeIn .4s forwards .1s;}
.main_wrap.after .top_container .inner .mainTitleWrap .main_title_txt2 {position:absolute;top:369px;left:-79px;opacity:0;animation:fadeIn .4s forwards .1s;}
.main_wrap.after .top_container .inner .mainTitleWrap .main_title1 {position:absolute;top:0;left:0;opacity:0;animation:fadeInRight1 .4s forwards .3s;}
.main_wrap.after .top_container .inner .mainTitleWrap .main_title2 {position:absolute;top:41px;right:-203px;opacity:0;animation:fadeInRight2 .4s forwards .3s;}

.main_wrap .top_container .inner .mainPictureWrap {position:absolute;top:60px;left:50%;width:500px;height:740px;margin-left:-70px;}
.main_wrap .top_container .inner .mainPictureWrap .main_effect {opacity:0;}
.main_wrap .top_container .inner .mainPictureWrap .main_effect.is-active {opacity:1;transition:opacity 0.3s ease-out;}
.main_wrap .top_container .inner .mainPictureWrap .main_slide {position:absolute;top:0;left:0;opacity:0;z-index:1;width:710px;}
.main_wrap .top_container .inner .mainPictureWrap .main_slide.is-active {opacity:1;transition:opacity 0.3s ease-out;}
.main_wrap .top_container .inner .mainPictureWrap .main_slide .text_rolling_box1 {position:absolute;top:136px;left:368px;}
.main_wrap .top_container .inner .mainPictureWrap .main_slide .text_rolling_box2 {position:absolute;top:136px;left:384px;}
.main_wrap .top_container .inner .mainPictureWrap .main_slide .text_rolling_box3 {position:absolute;top:136px;left:344px;}
.main_wrap .top_container .inner .mainPictureWrap .main_slide .text_rolling_box4 {position:absolute;top:136px;left:370px;}
.main_wrap .top_container .inner .mainPictureWrap .main_slide .text_rolling_box5 {position:absolute;top:136px;left:378px;}
.main_wrap .top_container .inner .mainPictureWrap .main_slide .text_rolling_box6 {position:absolute;top:136px;left:364px;}
.main_wrap .top_container .floating_bn {position:fixed;right:20px;top:calc(100px + 80px + 40px);display:flex;flex-direction:column;z-index:2;}
.main_wrap .top_container .floating_bn a{height:180px;}
.main_wrap .top_container .floating_bn a + a {margin-top:18px;}

@keyframes fadeInRight1 {
    0% {transform:scale(1.1) translateX(-200px);}
    to {transform:scale(1) translateX(0);opacity:1;}
    0% {transform:scale(1.1) translateX(-200px);}
    to {transform:scale(1) translateX(0);opacity:1;}
}
@keyframes fadeInRight2 {
    0% {transform:scale(1.1) translateX(-350px);}
    to {transform:scale(0.88) translateX(0);opacity:1;}
    0% {transform:scale(1.1) translateX(-350px);}
    to {transform:scale(0.88) translateX(0);opacity:1;}
}
@keyframes fadeIn {
    0% {transform:scale(1.5) translateX(-200px);}
    to {transform:scale(1) translateX(0);opacity:1;}
}
@keyframes bounce {
    0% {transform:translateY(-20px);}
    50% {transform:scaleY(.9) translateY(0px);}
    100% {transform:translateY(-20px);}
}

.toTop{position:fixed;right:47px;bottom:40px;opacity:0;transition:opacity .3s ease-out .1s;z-index:2;}
.toTop.on{opacity:1;}
.toTop button{width:56px;height:56px;;background:url('../../images/portalPage/totop.png') no-repeat;font-size:0;}

/* 푸터 */
footer{width:100%;min-width:1280px;border-top:1px solid #BEBEBE;}
footer .inner{display:flex;justify-content:space-between;align-items:center;margin:0 auto;padding:55px 0 53px;width:1280px;}
footer .inner a{color:#0084FF;text-decoration:underline;}
footer p.tit{font-weight:700;font-size:13px;line-height:22px;color:#48505C;}
footer p.txt{margin-top:3px;font-weight:500;font-size:12px;line-height:20px;color:#6D737D;}
footer p.txt2{margin-top:16px;}

/* 탭 */
.main_wrap .tab_wrap {position:relative;margin-top:-100px;}
.main_wrap .tab_wrap .tab_head {position:relative;z-index:1;}
.main_wrap .tab_wrap .tab_head > ul {display:flex;justify-content:center;margin:0 auto;width:1280px;height:100px;}
.main_wrap .tab_wrap .tab_head > ul li {position:relative;width:256px;height:100px;}
.main_wrap .tab_wrap .tab_head > ul li a {display:block;width:100%;height:100%;background:#242424 url('https://resource-portal.etoos.com/common-page/static/tab_off.png');background-repeat:no-repeat;background-position:0 0;}
.main_wrap .tab_wrap .tab_head > ul li a.on {background:url('https://resource-portal.etoos.com/common-page/static/tab_on.png');}
.main_wrap .tab_wrap .tab_head > ul li a.on:hover {background:url('https://resource-portal.etoos.com/common-page/static/tab_on.png');}
.main_wrap .tab_wrap .tab_head > ul li a.on .tooltip {opacity:1;}
.main_wrap .tab_wrap .tab_head > ul li a:hover {background:url('https://resource-portal.etoos.com/common-page/static/tab_hover.png');}
.main_wrap .tab_wrap .tab_head > ul li:nth-child(2) a, 
.main_wrap .tab_wrap .tab_head > ul li:nth-child(2) a.on:hover {background-position:-256px 0;}
.main_wrap .tab_wrap .tab_head > ul li:nth-child(3) a,
.main_wrap .tab_wrap .tab_head > ul li:nth-child(3) a.on:hover {background-position:-512px 0;}
.main_wrap .tab_wrap .tab_head > ul li:nth-child(4) a,
.main_wrap .tab_wrap .tab_head > ul li:nth-child(4) a.on:hover {background-position:-768px 0;}
.main_wrap .tab_wrap .tab_head > ul li:nth-child(5) a,
.main_wrap .tab_wrap .tab_head > ul li:nth-child(5) a.on:hover {background-position:-1024px 0;}
.main_wrap .tab_wrap .tab_head > ul li:nth-child(5):before{content:'';position:absolute;top:-92px;left:50%;margin-left:-63px;width:127px;height:130px;background-image:url("../../images/portalPage/event_tab_floating.png");opacity:1;transition:opacity .1s ease-out;animation:bounce .6s infinite;}
.main_wrap .tab_wrap .tab_head > ul li .tooltip {position:absolute;left:auto;bottom:-88px;opacity:0;transition:opacity 0.3s ease-out;}
.main_wrap .tab_wrap .tab_head > ul li .tooltip img {max-width:none;}
.main_wrap .tab_wrap .tab_head > ul li.tab_head_video .tooltip {transform:translateX(20px);}
.main_wrap .tab_wrap .tab_head > ul li.tab_head_moei .tooltip {left:50%;transform:translateX(-50%);}
.main_wrap .tab_wrap .tab_head > ul li.tab_head_online .tooltip {left:50%;transform:translateX(-50%);}
.main_wrap .tab_wrap .tab_head > ul li.tab_head_offline .tooltip {left:50%;transform:translateX(-50%);}
.main_wrap .tab_wrap .tab_head > ul li.tab_head_event .tooltip {left:50%;transform:translateX(-50%);}
.main_wrap.after .tab_wrap .tab_head > ul {display:flex;justify-content:center;margin:0 auto;width:1280px;height:100px;background-color:#242424;}
.main_wrap.after .tab_wrap .tab_head > ul li {position:relative;width:256px;height:100px;}
.main_wrap.after .tab_wrap .tab_head > ul li a {display:block;width:100%;height:100%;background-color:#242424;background-repeat:no-repeat;background-position:center;}
.main_wrap.after .tab_wrap .tab_head > ul li a.on:hover {background-repeat:no-repeat;background-position:center;}
.main_wrap.after .tab_wrap .tab_head > ul li:first-child a:before {content:'';position:absolute;top:30px;right:0;width:1px;height:40px;background-color:#414141;}
.main_wrap.after .tab_wrap .tab_head > ul li:first-child a:hover:before {background-color:#0084ff;z-index:1;}
.main_wrap.after .tab_wrap .tab_head > ul li:first-child a.on:before {background-color:#fff;z-index:1;}
.main_wrap.after .tab_wrap .tab_head > ul li:first-child a.on:hover:before {background-color:#fff;}
.main_wrap.after .tab_wrap .tab_head > ul li:not(:first-child) a:before {content:'';position:absolute;top:30px;left:-1px;width:1px;height:40px;background-color:#414141;}
.main_wrap.after .tab_wrap .tab_head > ul li:not(:first-child) a:hover:before {left:auto;right:0;background-color:#0084ff;z-index:1;}
.main_wrap.after .tab_wrap .tab_head > ul li:not(:first-child) a.on:before {left:auto;right:0;background-color:#fff;z-index:1;}
.main_wrap.after .tab_wrap .tab_head > ul li:not(:first-child) a.on:hover:before {background-color:#fff;}
.main_wrap.after .tab_wrap .tab_head > ul li a:hover{background-color:#0084ff;}
.main_wrap.after .tab_wrap .tab_head > ul li a.on {background-color:#fff;}
.main_wrap.after .tab_wrap .tab_head > ul li a.on:hover {background-color:#fff;}
.main_wrap.after .tab_wrap .tab_head > ul li a.on .tooltip {opacity:1;}
.main_wrap.after .tab_wrap .tab_head > ul li:nth-child(1) a{background-image:url('../../images/portalPage/3p-star_off.png');}
.main_wrap.after .tab_wrap .tab_head > ul li:nth-child(1) a:hover{background-image:url('../../images/portalPage/3p-star_hover.png');}
.main_wrap.after .tab_wrap .tab_head > ul li:nth-child(1) a.on{background-image:url('../../images/portalPage/3p-star_on.png');}
.main_wrap.after .tab_wrap .tab_head > ul li:nth-child(2) a{background-image:url('../../images/portalPage/3p-after_off.png');}
.main_wrap.after .tab_wrap .tab_head > ul li:nth-child(2) a:hover{background-image:url('../../images/portalPage/3p-after_hover.png');}
.main_wrap.after .tab_wrap .tab_head > ul li:nth-child(2) a.on{background-image:url('../../images/portalPage/3p-after_on.png');}
.main_wrap.after .tab_wrap .tab_head > ul li:nth-child(3) a{background-image:url('../../images/portalPage/asap_off.png');}
.main_wrap.after .tab_wrap .tab_head > ul li:nth-child(3) a:hover{background-image:url('../../images/portalPage/asap_hover.png');}
.main_wrap.after .tab_wrap .tab_head > ul li:nth-child(3) a.on{background-image:url('../../images/portalPage/asap_on.png');}
.main_wrap.after .tab_wrap .tab_head > ul li:nth-child(4) a{background-image:url('../../images/portalPage/3p-off_off.png');}
.main_wrap.after .tab_wrap .tab_head > ul li:nth-child(4) a:hover{background-image:url('../../images/portalPage/3p-off_hover.png');}
.main_wrap.after .tab_wrap .tab_head > ul li:nth-child(4) a.on{background-image:url('../../images/portalPage/3p-off_on.png');}
.main_wrap.after .tab_wrap .tab_head > ul li:nth-child(5) a{background-image:url('../../images/portalPage/event_off.png');}
.main_wrap.after .tab_wrap .tab_head > ul li:nth-child(5) a:hover{background-image:url('../../images/portalPage/event_hover.png');}
.main_wrap.after .tab_wrap .tab_head > ul li:nth-child(5) a.on{background-image:url('../../images/portalPage/event_on.png');}
.main_wrap.after .tab_wrap .tab_head > ul li .tooltip {position:absolute;left:auto;bottom:-88px;opacity:0;transition:opacity 0.3s ease-out;}
.main_wrap.after .tab_wrap .tab_head > ul li .tooltip img {max-width:none;}
.main_wrap.after .tab_wrap .tab_head > ul li:nth-child(1) .tooltip {transform:translateX(20px);}
.main_wrap.after .tab_wrap .tab_head > ul li:nth-child(2) .tooltip {left:50%;transform:translateX(-50%);}
.main_wrap.after .tab_wrap .tab_head > ul li:nth-child(3) .tooltip {left:50%;transform:translateX(-50%);}
.main_wrap.after .tab_wrap .tab_head > ul li:nth-child(4) .tooltip {left:50%;transform:translateX(-50%);}
.main_wrap.after .tab_wrap .tab_head > ul li:nth-child(5) .tooltip {left:50%;transform:translateX(-50%);}

.main_wrap.after .tab_wrap .tab_head > ul {display:flex;justify-content:center;margin:0 auto;width:1280px;height:100px;background-color:#242424;}
.main_wrap.after .tab_wrap .tab_head > ul li {position:relative;width:256px;height:100px;}
.main_wrap.after .tab_wrap .tab_head > ul li a {display:block;width:100%;height:100%;background-color:#242424;background-repeat:no-repeat;background-position:center;}
.main_wrap.after .tab_wrap .tab_head > ul li a.on:hover {background-repeat:no-repeat;background-position:center;}
.main_wrap.after .tab_wrap .tab_head > ul li:first-child a:before {content:'';position:absolute;top:30px;right:0;width:1px;height:40px;background-color:#414141;}
.main_wrap.after .tab_wrap .tab_head > ul li:first-child a:hover:before {background-color:#0084ff;z-index:1;}
.main_wrap.after .tab_wrap .tab_head > ul li:first-child a.on:before {background-color:#fff;z-index:1;}
.main_wrap.after .tab_wrap .tab_head > ul li:first-child a.on:hover:before {background-color:#fff;}
.main_wrap.after .tab_wrap .tab_head > ul li:not(:first-child) a:before {content:'';position:absolute;top:30px;left:-1px;width:1px;height:40px;background-color:#414141;}
.main_wrap.after .tab_wrap .tab_head > ul li:not(:first-child) a:hover:before {left:auto;right:0;background-color:#0084ff;z-index:1;}
.main_wrap.after .tab_wrap .tab_head > ul li:not(:first-child) a.on:before {left:auto;right:0;background-color:#fff;z-index:1;}
.main_wrap.after .tab_wrap .tab_head > ul li:not(:first-child) a.on:hover:before {background-color:#fff;}
.main_wrap.after .tab_wrap .tab_head > ul li a:hover{background-color:#0084ff;}
.main_wrap.after .tab_wrap .tab_head > ul li a.on {background-color:#fff;}
.main_wrap.after .tab_wrap .tab_head > ul li a.on:hover {background-color:#fff;}
.main_wrap.after .tab_wrap .tab_head > ul li a.on .tooltip {opacity:1;}
.main_wrap.after .tab_wrap .tab_head > ul li:nth-child(1) a{background-image:url('../../images/portalPage/3p-star_off.png');}
.main_wrap.after .tab_wrap .tab_head > ul li:nth-child(1) a:hover{background-image:url('../../images/portalPage/3p-star_hover.png');}
.main_wrap.after .tab_wrap .tab_head > ul li:nth-child(1) a.on{background-image:url('../../images/portalPage/3p-star_on.png');}
.main_wrap.after .tab_wrap .tab_head > ul li:nth-child(2) a{background-image:url('../../images/portalPage/3p-after_off.png');}
.main_wrap.after .tab_wrap .tab_head > ul li:nth-child(2) a:hover{background-image:url('../../images/portalPage/3p-after_hover.png');}
.main_wrap.after .tab_wrap .tab_head > ul li:nth-child(2) a.on{background-image:url('../../images/portalPage/3p-after_on.png');}
.main_wrap.after .tab_wrap .tab_head > ul li:nth-child(3) a{background-image:url('../../images/portalPage/asap_off.png');}
.main_wrap.after .tab_wrap .tab_head > ul li:nth-child(3) a:hover{background-image:url('../../images/portalPage/asap_hover.png');}
.main_wrap.after .tab_wrap .tab_head > ul li:nth-child(3) a.on{background-image:url('../../images/portalPage/asap_on.png');}
.main_wrap.after .tab_wrap .tab_head > ul li:nth-child(4) a{background-image:url('../../images/portalPage/3p-off_off.png');}
.main_wrap.after .tab_wrap .tab_head > ul li:nth-child(4) a:hover{background-image:url('../../images/portalPage/3p-off_hover.png');}
.main_wrap.after .tab_wrap .tab_head > ul li:nth-child(4) a.on{background-image:url('../../images/portalPage/3p-off_on.png');}
.main_wrap.after .tab_wrap .tab_head > ul li:nth-child(5) a{background-image:url('../../images/portalPage/event_off.png');}
.main_wrap.after .tab_wrap .tab_head > ul li:nth-child(5) a:hover{background-image:url('../../images/portalPage/event_hover.png');}
.main_wrap.after .tab_wrap .tab_head > ul li:nth-child(5) a.on{background-image:url('../../images/portalPage/event_on.png');}
.main_wrap.after .tab_wrap .tab_head > ul li .tooltip {position:absolute;left:auto;bottom:-88px;opacity:0;transition:opacity 0.3s ease-out;}
.main_wrap.after .tab_wrap .tab_head > ul li .tooltip img {max-width:none;}
.main_wrap.after .tab_wrap .tab_head > ul li:nth-child(1) .tooltip {transform:translateX(20px);}
.main_wrap.after .tab_wrap .tab_head > ul li:nth-child(2) .tooltip {left:50%;transform:translateX(-50%);}
.main_wrap.after .tab_wrap .tab_head > ul li:nth-child(3) .tooltip {left:50%;transform:translateX(-50%);}
.main_wrap.after .tab_wrap .tab_head > ul li:nth-child(4) .tooltip {left:50%;transform:translateX(-50%);}
.main_wrap.after .tab_wrap .tab_head > ul li:nth-child(5) .tooltip {left:50%;transform:translateX(-50%);}

.main_wrap .tab_wrap .tab_head.fixed {position:fixed;top:0;width:100%;background-color:#242424;z-index:10;}
.main_wrap .tab_wrap .tab_head.fixed.hide .tooltip {opacity:0 !important;visibility:hidden;}
.main_wrap .tab_wrap .tab_head.fixed + .tab_body > div {padding-top:100px;}
.main_wrap .tab_wrap .tab_head.fixed > ul li:nth-child(5):before{opacity:0;}
.main_wrap .tab_wrap .tab_body{width:100%;min-width:1280px;background:url('../../images/portalPage/tab_body_bgline.png') center repeat-y;}
.main_wrap .tab_wrap .tab_body .inner {position:relative;margin:0 auto;padding:160px 0;width:1280px;}

@import './modules/_tab1.scss';
@import './modules/_tab2.scss';
@import './modules/_tab3.scss';
@import './modules/_tab4.scss';
@import './modules/_tab5.scss';