@charset "UTF-8";
@import url(https://portal.etoos.com/css/library/swiper.min.css);

body {font-family:"Noto Sans KR", sans-serif;overflow-y:scroll;}

/* 탑 배너 */
.top_bn {width:100%;min-width:1280px;height:80px;background:#242424;}
.top_bn .inner {height:100%;display:flex;justify-content:center;align-items:center;}
.top_bn .inner .title{margin-right:27px;}
.top_bn .inner a + a{margin-left:12px;}

/* 탑 콘텐츠 */
.main_wrap .top_container {}
.main_wrap .top_container .top_cont{position:relative;width:100%;min-width:1280px;height:900px;background:url('../../images/portalPage/top_main.png') no-repeat top center, url('../../images/portalPage/top_bg.png') repeat top center;}
.main_wrap .top_container .top_cont_3pAfter {position:relative;width:100%;min-width:1280px;height:900px;background:url('../../images/portalPage/top_main_after.png') no-repeat top center, url('../../images/portalPage/top_bg_after.png') repeat top center;}

.main_wrap .top_container .inner {position:relative;width:1280px;margin:0 auto;}
.main_wrap .top_container .inner .mainTitleWrap {position:absolute;top:273px;left:100px;width:950px;height:350px;z-index:1;}

.main_wrap .top_container .inner .mainTitleWrap .main_title_txt1 {position:absolute;top:-198px;left:-81px;opacity:0;;animation:fadeIn .4s forwards .1s;}
.main_wrap .top_container .inner .mainTitleWrap .main_title_txt2 {position:absolute;top:369px;left:-79px;opacity:0;animation:fadeIn .4s forwards .2s;}
.main_wrap .top_container .inner .mainTitleWrap .main_title1 {position:absolute;top:0;left:0;transform:scale(1.2);animation:fadeInRight1 1s forwards;}
.main_wrap .top_container .inner .mainTitleWrap .main_title2 {position:absolute;top:41px;right:-203px;transform:translateX(-200px);animation:fadeInRight2 .8s forwards .2s;}
.main_wrap.after .top_container .inner .mainTitleWrap .main_title_txt1 {position:absolute;top:-198px;left:-81px;opacity:0;animation:fadeIn .4s forwards .1s;}
.main_wrap.after .top_container .inner .mainTitleWrap .main_title_txt2 {position:absolute;top:369px;left:-79px;opacity:0;animation:fadeIn .4s forwards .1s;}
.main_wrap.after .top_container .inner .mainTitleWrap .main_title1 {position:absolute;top:0;left:0;opacity:0;animation:fadeInRight1 .4s forwards .3s;}
.main_wrap.after .top_container .inner .mainTitleWrap .main_title2 {position:absolute;top:41px;right:-203px;opacity:0;animation:fadeInRight2 .4s forwards .3s;}

.main_wrap .top_container .inner .mainPictureWrap {position:absolute;top:60px;left:50%;width:500px;height:740px;margin-left:-70px;}
.main_wrap .top_container .inner .mainPictureWrap .main_effect {opacity:0;}
.main_wrap .top_container .inner .mainPictureWrap .main_effect.is-active {opacity:1;transition:opacity 0.3s ease-out;}
.main_wrap .top_container .inner .mainPictureWrap .main_slide {position:absolute;top:0;left:0;opacity:0;z-index:1;width:710px;}
.main_wrap .top_container .inner .mainPictureWrap .main_slide.is-active {opacity:1;transition:opacity 0.3s ease-out;}
.main_wrap .top_container .inner .mainPictureWrap .main_slide .text_rolling_box1 {position:absolute;top:136px;left:368px;}
.main_wrap .top_container .inner .mainPictureWrap .main_slide .text_rolling_box2 {position:absolute;top:136px;left:384px;}
.main_wrap .top_container .inner .mainPictureWrap .main_slide .text_rolling_box3 {position:absolute;top:136px;left:344px;}
.main_wrap .top_container .inner .mainPictureWrap .main_slide .text_rolling_box4 {position:absolute;top:136px;left:370px;}
.main_wrap .top_container .inner .mainPictureWrap .main_slide .text_rolling_box5 {position:absolute;top:136px;left:378px;}
.main_wrap .top_container .inner .mainPictureWrap .main_slide .text_rolling_box6 {position:absolute;top:136px;left:364px;}
.main_wrap .top_container .floating_bn {position:fixed;right:20px;top:calc(100px + 80px + 40px);display:flex;flex-direction:column;z-index:2;}
.main_wrap .top_container .floating_bn a{height:180px;}
.main_wrap .top_container .floating_bn a + a {margin-top:18px;}

@keyframes fadeInRight1 {
    0% {transform:scale(1.1) translateX(-200px);}
    to {transform:scale(1) translateX(0);opacity:1;}
    0% {transform:scale(1.1) translateX(-200px);}
    to {transform:scale(1) translateX(0);opacity:1;}
}
@keyframes fadeInRight2 {
    0% {transform:scale(1.1) translateX(-350px);}
    to {transform:scale(0.88) translateX(0);opacity:1;}
    0% {transform:scale(1.1) translateX(-350px);}
    to {transform:scale(0.88) translateX(0);opacity:1;}
}
@keyframes fadeIn {
    0% {transform:scale(1.5) translateX(-200px);}
    to {transform:scale(1) translateX(0);opacity:1;}
}
@keyframes bounce {
    0% {transform:translateY(-20px);}
    50% {transform:scaleY(.9) translateY(0px);}
    100% {transform:translateY(-20px);}
}

.toTop{position:fixed;right:47px;bottom:40px;opacity:0;transition:opacity .3s ease-out .1s;z-index:2;}
.toTop.on{opacity:1;}
.toTop button{width:56px;height:56px;;background:url('../../images/portalPage/totop.png') no-repeat;font-size:0;}

/* 푸터 */
footer{width:100%;min-width:1280px;border-top:1px solid #BEBEBE;}
footer .inner{display:flex;justify-content:space-between;align-items:center;margin:0 auto;padding:55px 0 53px;width:1280px;}
footer .inner a{color:#0084FF;text-decoration:underline;}
footer p.tit{font-weight:700;font-size:13px;line-height:22px;color:#48505C;}
footer p.txt{margin-top:3px;font-weight:500;font-size:12px;line-height:20px;color:#6D737D;}
footer p.txt2{margin-top:16px;}

/* 탭 */
.main_wrap .tab_wrap {position:relative;margin-top:-100px;}
.main_wrap .tab_wrap .tab_head {position:relative;z-index:1;}
.main_wrap .tab_wrap .tab_head > ul {display:flex;justify-content:center;margin:0 auto;width:1280px;height:100px;}
.main_wrap .tab_wrap .tab_head > ul li {position:relative;width:256px;height:100px;}
.main_wrap .tab_wrap .tab_head > ul li a {display:block;width:100%;height:100%;background:#242424 url('https://resource-portal.etoos.com/common-page/static/tab_off.png');background-repeat:no-repeat;background-position:0 0;}
.main_wrap .tab_wrap .tab_head > ul li a.on {background:url('https://resource-portal.etoos.com/common-page/static/tab_on.png');}
.main_wrap .tab_wrap .tab_head > ul li a.on:hover {background:url('https://resource-portal.etoos.com/common-page/static/tab_on.png');}
.main_wrap .tab_wrap .tab_head > ul li a.on .tooltip {opacity:1;}
.main_wrap .tab_wrap .tab_head > ul li a:hover {background:url('https://resource-portal.etoos.com/common-page/static/tab_hover.png');}
.main_wrap .tab_wrap .tab_head > ul li:nth-child(2) a, 
.main_wrap .tab_wrap .tab_head > ul li:nth-child(2) a.on:hover {background-position:-256px 0;}
.main_wrap .tab_wrap .tab_head > ul li:nth-child(3) a,
.main_wrap .tab_wrap .tab_head > ul li:nth-child(3) a.on:hover {background-position:-512px 0;}
.main_wrap .tab_wrap .tab_head > ul li:nth-child(4) a,
.main_wrap .tab_wrap .tab_head > ul li:nth-child(4) a.on:hover {background-position:-768px 0;}
.main_wrap .tab_wrap .tab_head > ul li:nth-child(5) a,
.main_wrap .tab_wrap .tab_head > ul li:nth-child(5) a.on:hover {background-position:-1024px 0;}
.main_wrap .tab_wrap .tab_head > ul li:nth-child(5):before{content:'';position:absolute;top:-92px;left:50%;margin-left:-63px;width:127px;height:130px;background-image:url("../../images/portalPage/event_tab_floating.png");opacity:1;transition:opacity .1s ease-out;animation:bounce .6s infinite;}
.main_wrap .tab_wrap .tab_head > ul li:nth-child(5):before{content:'';position:absolute;top:-92px;left:50%;margin-left:-63px;width:127px;height:130px;background-image:url("../../images/portalPage/event_tab_floating.png");opacity:1;transition:opacity .1s ease-out;animation:bounce .6s infinite;}
.main_wrap .tab_wrap .tab_head > ul li .tooltip {position:absolute;left:auto;bottom:-88px;opacity:0;transition:opacity 0.3s ease-out;}
.main_wrap .tab_wrap .tab_head > ul li .tooltip img {max-width:none;}
.main_wrap .tab_wrap .tab_head > ul li.tab_head_video .tooltip {transform:translateX(20px);}
.main_wrap .tab_wrap .tab_head > ul li.tab_head_moei .tooltip {left:50%;transform:translateX(-50%);}
.main_wrap .tab_wrap .tab_head > ul li.tab_head_online .tooltip {left:50%;transform:translateX(-50%);}
.main_wrap .tab_wrap .tab_head > ul li.tab_head_offline .tooltip {left:50%;transform:translateX(-50%);}
.main_wrap .tab_wrap .tab_head > ul li.tab_head_event .tooltip {left:50%;transform:translateX(-50%);}
.main_wrap.after .tab_wrap .tab_head > ul {display:flex;justify-content:center;margin:0 auto;width:1280px;height:100px;background-color:#242424;}
.main_wrap.after .tab_wrap .tab_head > ul li {position:relative;width:256px;height:100px;}
.main_wrap.after .tab_wrap .tab_head > ul li a {display:block;width:100%;height:100%;background-color:#242424;background-repeat:no-repeat;background-position:center;}
.main_wrap.after .tab_wrap .tab_head > ul li a.on:hover {background-repeat:no-repeat;background-position:center;}
.main_wrap.after .tab_wrap .tab_head > ul li:first-child a:before {content:'';position:absolute;top:30px;right:0;width:1px;height:40px;background-color:#414141;}
.main_wrap.after .tab_wrap .tab_head > ul li:first-child a:hover:before {background-color:#0084ff;z-index:1;}
.main_wrap.after .tab_wrap .tab_head > ul li:first-child a.on:before {background-color:#fff;z-index:1;}
.main_wrap.after .tab_wrap .tab_head > ul li:first-child a.on:hover:before {background-color:#fff;}
.main_wrap.after .tab_wrap .tab_head > ul li:not(:first-child) a:before {content:'';position:absolute;top:30px;left:-1px;width:1px;height:40px;background-color:#414141;}
.main_wrap.after .tab_wrap .tab_head > ul li:not(:first-child) a:hover:before {left:auto;right:0;background-color:#0084ff;z-index:1;}
.main_wrap.after .tab_wrap .tab_head > ul li:not(:first-child) a.on:before {left:auto;right:0;background-color:#fff;z-index:1;}
.main_wrap.after .tab_wrap .tab_head > ul li:not(:first-child) a.on:hover:before {background-color:#fff;}
.main_wrap.after .tab_wrap .tab_head > ul li a:hover{background-color:#0084ff;}
.main_wrap.after .tab_wrap .tab_head > ul li a.on {background-color:#fff;}
.main_wrap.after .tab_wrap .tab_head > ul li a.on:hover {background-color:#fff;}
.main_wrap.after .tab_wrap .tab_head > ul li a.on .tooltip {opacity:1;}
.main_wrap.after .tab_wrap .tab_head > ul li:nth-child(1) a{background-image:url('../../images/portalPage/3p-star_off.png');}
.main_wrap.after .tab_wrap .tab_head > ul li:nth-child(1) a:hover{background-image:url('../../images/portalPage/3p-star_hover.png');}
.main_wrap.after .tab_wrap .tab_head > ul li:nth-child(1) a.on{background-image:url('../../images/portalPage/3p-star_on.png');}
.main_wrap.after .tab_wrap .tab_head > ul li:nth-child(2) a{background-image:url('../../images/portalPage/3p-after_off.png');}
.main_wrap.after .tab_wrap .tab_head > ul li:nth-child(2) a:hover{background-image:url('../../images/portalPage/3p-after_hover.png');}
.main_wrap.after .tab_wrap .tab_head > ul li:nth-child(2) a.on{background-image:url('../../images/portalPage/3p-after_on.png');}
.main_wrap.after .tab_wrap .tab_head > ul li:nth-child(3) a{background-image:url('../../images/portalPage/asap_off.png');}
.main_wrap.after .tab_wrap .tab_head > ul li:nth-child(3) a:hover{background-image:url('../../images/portalPage/asap_hover.png');}
.main_wrap.after .tab_wrap .tab_head > ul li:nth-child(3) a.on{background-image:url('../../images/portalPage/asap_on.png');}
.main_wrap.after .tab_wrap .tab_head > ul li:nth-child(4) a{background-image:url('../../images/portalPage/3p-off_off.png');}
.main_wrap.after .tab_wrap .tab_head > ul li:nth-child(4) a:hover{background-image:url('../../images/portalPage/3p-off_hover.png');}
.main_wrap.after .tab_wrap .tab_head > ul li:nth-child(4) a.on{background-image:url('../../images/portalPage/3p-off_on.png');}
.main_wrap.after .tab_wrap .tab_head > ul li:nth-child(5) a{background-image:url('../../images/portalPage/event_off.png');}
.main_wrap.after .tab_wrap .tab_head > ul li:nth-child(5) a:hover{background-image:url('../../images/portalPage/event_hover.png');}
.main_wrap.after .tab_wrap .tab_head > ul li:nth-child(5) a.on{background-image:url('../../images/portalPage/event_on.png');}
.main_wrap.after .tab_wrap .tab_head > ul li .tooltip {position:absolute;left:auto;bottom:-88px;opacity:0;transition:opacity 0.3s ease-out;}
.main_wrap.after .tab_wrap .tab_head > ul li .tooltip img {max-width:none;}
.main_wrap.after .tab_wrap .tab_head > ul li:nth-child(1) .tooltip {transform:translateX(20px);}
.main_wrap.after .tab_wrap .tab_head > ul li:nth-child(2) .tooltip {left:50%;transform:translateX(-50%);}
.main_wrap.after .tab_wrap .tab_head > ul li:nth-child(3) .tooltip {left:50%;transform:translateX(-50%);}
.main_wrap.after .tab_wrap .tab_head > ul li:nth-child(4) .tooltip {left:50%;transform:translateX(-50%);}
.main_wrap.after .tab_wrap .tab_head > ul li:nth-child(5) .tooltip {left:50%;transform:translateX(-50%);}

.main_wrap.after .tab_wrap .tab_head > ul {display:flex;justify-content:center;margin:0 auto;width:1280px;height:100px;background-color:#242424;}
.main_wrap.after .tab_wrap .tab_head > ul li {position:relative;width:256px;height:100px;}
.main_wrap.after .tab_wrap .tab_head > ul li a {display:block;width:100%;height:100%;background-color:#242424;background-repeat:no-repeat;background-position:center;}
.main_wrap.after .tab_wrap .tab_head > ul li a.on:hover {background-repeat:no-repeat;background-position:center;}
.main_wrap.after .tab_wrap .tab_head > ul li:first-child a:before {content:'';position:absolute;top:30px;right:0;width:1px;height:40px;background-color:#414141;}
.main_wrap.after .tab_wrap .tab_head > ul li:first-child a:hover:before {background-color:#0084ff;z-index:1;}
.main_wrap.after .tab_wrap .tab_head > ul li:first-child a.on:before {background-color:#fff;z-index:1;}
.main_wrap.after .tab_wrap .tab_head > ul li:first-child a.on:hover:before {background-color:#fff;}
.main_wrap.after .tab_wrap .tab_head > ul li:not(:first-child) a:before {content:'';position:absolute;top:30px;left:-1px;width:1px;height:40px;background-color:#414141;}
.main_wrap.after .tab_wrap .tab_head > ul li:not(:first-child) a:hover:before {left:auto;right:0;background-color:#0084ff;z-index:1;}
.main_wrap.after .tab_wrap .tab_head > ul li:not(:first-child) a.on:before {left:auto;right:0;background-color:#fff;z-index:1;}
.main_wrap.after .tab_wrap .tab_head > ul li:not(:first-child) a.on:hover:before {background-color:#fff;}
.main_wrap.after .tab_wrap .tab_head > ul li a:hover{background-color:#0084ff;}
.main_wrap.after .tab_wrap .tab_head > ul li a.on {background-color:#fff;}
.main_wrap.after .tab_wrap .tab_head > ul li a.on:hover {background-color:#fff;}
.main_wrap.after .tab_wrap .tab_head > ul li a.on .tooltip {opacity:1;}
.main_wrap.after .tab_wrap .tab_head > ul li:nth-child(1) a{background-image:url('../../images/portalPage/3p-star_off.png');}
.main_wrap.after .tab_wrap .tab_head > ul li:nth-child(1) a:hover{background-image:url('../../images/portalPage/3p-star_hover.png');}
.main_wrap.after .tab_wrap .tab_head > ul li:nth-child(1) a.on{background-image:url('../../images/portalPage/3p-star_on.png');}
.main_wrap.after .tab_wrap .tab_head > ul li:nth-child(2) a{background-image:url('../../images/portalPage/3p-after_off.png');}
.main_wrap.after .tab_wrap .tab_head > ul li:nth-child(2) a:hover{background-image:url('../../images/portalPage/3p-after_hover.png');}
.main_wrap.after .tab_wrap .tab_head > ul li:nth-child(2) a.on{background-image:url('../../images/portalPage/3p-after_on.png');}
.main_wrap.after .tab_wrap .tab_head > ul li:nth-child(3) a{background-image:url('../../images/portalPage/asap_off.png');}
.main_wrap.after .tab_wrap .tab_head > ul li:nth-child(3) a:hover{background-image:url('../../images/portalPage/asap_hover.png');}
.main_wrap.after .tab_wrap .tab_head > ul li:nth-child(3) a.on{background-image:url('../../images/portalPage/asap_on.png');}
.main_wrap.after .tab_wrap .tab_head > ul li:nth-child(4) a{background-image:url('../../images/portalPage/3p-off_off.png');}
.main_wrap.after .tab_wrap .tab_head > ul li:nth-child(4) a:hover{background-image:url('../../images/portalPage/3p-off_hover.png');}
.main_wrap.after .tab_wrap .tab_head > ul li:nth-child(4) a.on{background-image:url('../../images/portalPage/3p-off_on.png');}
.main_wrap.after .tab_wrap .tab_head > ul li:nth-child(5) a{background-image:url('../../images/portalPage/event_off.png');}
.main_wrap.after .tab_wrap .tab_head > ul li:nth-child(5) a:hover{background-image:url('../../images/portalPage/event_hover.png');}
.main_wrap.after .tab_wrap .tab_head > ul li:nth-child(5) a.on{background-image:url('../../images/portalPage/event_on.png');}
.main_wrap.after .tab_wrap .tab_head > ul li .tooltip {position:absolute;left:auto;bottom:-88px;opacity:0;transition:opacity 0.3s ease-out;}
.main_wrap.after .tab_wrap .tab_head > ul li .tooltip img {max-width:none;}
.main_wrap.after .tab_wrap .tab_head > ul li:nth-child(1) .tooltip {transform:translateX(20px);}
.main_wrap.after .tab_wrap .tab_head > ul li:nth-child(2) .tooltip {left:50%;transform:translateX(-50%);}
.main_wrap.after .tab_wrap .tab_head > ul li:nth-child(3) .tooltip {left:50%;transform:translateX(-50%);}
.main_wrap.after .tab_wrap .tab_head > ul li:nth-child(4) .tooltip {left:50%;transform:translateX(-50%);}
.main_wrap.after .tab_wrap .tab_head > ul li:nth-child(5) .tooltip {left:50%;transform:translateX(-50%);}

.main_wrap .tab_wrap .tab_head.fixed {position:fixed;top:0;width:100%;background-color:#242424;z-index:10;}
.main_wrap .tab_wrap .tab_head.fixed.hide .tooltip {opacity:0 !important;visibility:hidden;}
.main_wrap .tab_wrap .tab_head.fixed + .tab_body > div {padding-top:100px;}
.main_wrap .tab_wrap .tab_head.fixed > ul li:nth-child(5):before{opacity:0;}
.main_wrap .tab_wrap .tab_body{width:100%;min-width:1280px;background:url('../../images/portalPage/tab_body_bgline.png') center repeat-y;}
.main_wrap .tab_wrap .tab_body .inner {position:relative;margin:0 auto;padding:160px 0;width:1280px;}

.main_wrap .p3_star_tab .cont1 .tit2-sub {margin-top:21px;margin-left:100px;}
.main_wrap .p3_star_tab .cont1 .tit1-slide {margin-top:68px;}
.main_wrap .p3_star_tab .cont1 .tit1-slide .swiper-container{position:relative;}
.main_wrap .p3_star_tab .cont1 .tit1-slide .swiper-wrapper{padding-bottom:55px;}
.main_wrap .p3_star_tab .cont1 .tit1-slide .swiper-slide{text-align:center;}
.main_wrap .p3_star_tab .cont1 .tit1-slide .swiper-slide .img-wrap{display:flex;flex-wrap:wrap;}
.main_wrap .p3_star_tab .cont1 .tit1-slide .swiper-slide .img-wrap a img{width:370px;height:210px;}
.main_wrap .p3_star_tab .cont1 .tit1-slide .swiper-slide .img-wrap a img + img{display:block;margin-top:16px;width:auto;height:auto;}
.main_wrap .p3_star_tab .cont1 .tit1-slide .swiper-slide .img-wrap a + a{margin-left:24px;}
.main_wrap .p3_star_tab .cont1 .tit1-slide .swiper-slide .img-wrap a:nth-child(4){margin-left:0;}
.main_wrap .p3_star_tab .cont1 .tit1-slide .swiper-slide .img-wrap a:nth-child(n + 4){margin-top:48px;}
.main_wrap .p3_star_tab .cont1 .tit1-slide .swiper-slide a{display:block}
.main_wrap .p3_star_tab .cont1 .tit1-slide .swiper-button-prev{margin-top:-28px;top:50%;left:0;width:56px;height:56px;background:url('../../images/portalPage/p3_star_tab_slide_left.png') no-repeat;}
.main_wrap .p3_star_tab .cont1 .tit1-slide .swiper-button-next{margin-top:-28px;top:50%;right:0;width:56px;height:56px;background:url('../../images/portalPage/p3_star_tab_slide_left.png') no-repeat;transform:rotate(180deg);}
.main_wrap .p3_star_tab .cont1 .tit1-slide .swiper-pagination{bottom:0;}
.main_wrap .p3_star_tab .cont1 .tit1-slide .swiper-pagination .swiper-pagination-bullet{width:14px;height:14px;border:2px solid #fff;border-radius:50%;box-sizing:border-box;background-color:#D9D9D9;opacity:1;}
.main_wrap .p3_star_tab .cont1 .tit1-slide .swiper-pagination .swiper-pagination-bullet-active{border-color:#0084FF;background-color:#fff;}
.main_wrap .p3_star_tab .cont1 .tit2-link {margin-top:66px;text-align:center;}

.main_wrap .p3_after_tab .cont1 .tit1-video {position:relative;margin-top:68px;}
.main_wrap .p3_after_tab .cont1 .tit1-video a {display:block;margin:0 auto;width:728px;}
.main_wrap .p3_after_tab .cont1 .tit1-video .tit1-people {position:absolute;top:-10px;right:0;}
.main_wrap .p3_after_tab .cont1 .tit1-video .tit1-txtbox {position:absolute;top:60px;left:0;}
.main_wrap .p3_after_tab .cont1 .tit1-link {margin-top:80px;text-align:center;}
.main_wrap .p3_after_tab .cont2{background:#F2F2F2 url(../../images/portalPage/tab_body_bgline.png) center repeat-y;}
.main_wrap .p3_after_tab .cont2 .tit1-link {position:relative;text-align:center;}
.main_wrap .p3_after_tab .cont2 .tit1-link a{position:absolute;top:491px;left:359px;width:546px;height:106px;}

.main_wrap .asap_tab .tit1-cont.asap {position:relative;margin-top:120px;}
.main_wrap .asap_tab .tit1-cont.asap .tit1-contimg img{display:block;margin-left:102px;}
.main_wrap .asap_tab .tit1-cont.asap .tit1-review {position:relative;margin-top:75px;}
.main_wrap .asap_tab .tit1-cont.asap .tit1-review img {display:block;margin:0 auto;}
.main_wrap .asap_tab .tit1-sub {margin-top:21px;margin-left:98px;}
.main_wrap .asap_tab .tit1-cont {position:relative;margin-top:114px;}
.main_wrap .asap_tab .tit1-cont #moei_slide1 {position:absolute;top:424px;left:726px;width:552px;height:474px;}
.main_wrap .asap_tab .tit1-cont #moei_slide1 .swiper-button-prev {left:0;margin-top:-40px;width:80px;height:80px;background-size:auto;background-image:url('../../images/portalPage/asap_tab_tit1_left_prev.png');}
.main_wrap .asap_tab .tit1-cont #moei_slide1 .swiper-button-next {right:0;margin-top:-40px;width:80px;height:80px;background-size:auto;background-image:url('../../images/portalPage/asap_tab_tit1_left_next.png');}
.main_wrap .asap_tab .tit1-link {margin-top:54px;text-align:center;}
.main_wrap .asap_tab .color_bg {background:#F1E7E1 url('../../images/portalPage/tab_body_bgline.png') center repeat-y;}
.main_wrap .asap_tab .color_bg .inner {padding:100px 0 120px;}
.main_wrap .asap_tab .tit1-link2 {margin-top:59px;text-align:center;}
.main_wrap .asap_tab .tit1-down {height:100px;text-align:center;background-color:#FF8947;}
.main_wrap .asap_tab .tit1-down .inner {position:relative;padding:0;}
.main_wrap .asap_tab .tit1-down img {position:absolute;top:-49px;left:50%;margin-left:-640px;}
.main_wrap .asap_tab .tit1-down .go2 {position:absolute;right:256px;top:0px;width:256px;height:98px;}
.main_wrap .asap_tab .tit1-down .go3 {position:absolute;right:0;top:0px;width:256px;height:98px;}
.main_wrap .asap_tab .tit1-cont2{text-align:center;}

.main_wrap .offline_tab .tit1-link {margin-top:80px;text-align:center;}
.main_wrap .offline_tab .tit1-column {display:flex;margin-top:74px;}
.main_wrap .offline_tab .tit1-column .column-box {position:relative;padding:0 20px 30px;width:400px;border-radius:0 50px 0 50px;box-sizing:border-box;text-align:center;background-color:#F2F2F2;}
.main_wrap .offline_tab .tit1-column .column-box.column1 {height:665px;}
.main_wrap .offline_tab .tit1-column .column-box.column2 {height:1300px;}
.main_wrap .offline_tab .tit1-column .column-box + .column-box {margin-left:40px;}
.main_wrap .offline_tab .tit1-column .column-symbol {display:flex;justify-content:center;align-items:center;width:360px;height:145px;}
.main_wrap .offline_tab .tit1-column .column-box li:not(:first-child){margin-top:22px;}
.main_wrap .offline_tab .tit1-column .column-box li a{position:absolute;margin-left:-113px;margin-top:90px;width:95px;height:50px;border-radius:30px;box-sizing:border-box;background-image:url("../../images/portalPage/offline_on.png");box-shadow:0 4px 4px rgba(0,0,0,.25);}
.main_wrap .offline_tab .tit1-column .column-box li a.close{background-image:url("../../images/portalPage/off_close.png");box-shadow:none;cursor:auto;}
.main_wrap .offline_tab .tit1-column .column-box li a + a{margin-top:149px;}
.main_wrap .offline_tab .tit1-column .column-box .column-link{margin-top:60px;}
.main_wrap .offline_tab .tit1-column .column-box.column3 li:not(:first-child) a{margin-top:100px;}

.main_wrap .event_tab .cont1 .inner {padding: 160px 0 100px;}
.main_wrap .event_tab .cont1 .tit1-guide{position:relative;display:flex;justify-content:center;align-items:center;margin-top:58px;}
.main_wrap .event_tab .color_bg {width:100%;min-width:1280px;background:#E6F3FF url('../../images/portalPage/tab_body_bgline.png') center repeat-y;}
.main_wrap .event_tab .color_bg .inner {padding:80px 0;}
.main_wrap .event_tab .tit1-guide-text .tit1-txtbox{display:flex;justify-content:center;}

.main_wrap .event_tab .cont2 .inner {padding:80px 0 120px;}
.main_wrap .event_tab .cont2 .tit1-quiz-tit {text-align:center;}
.main_wrap .event_tab .cont2 .tit1-quiz {display:flex;flex-wrap:wrap;margin-top:48px;}
.main_wrap .event_tab .cont2 .tit1-quiz .quiz {position:relative;display:flex;justify-content:center;align-items:center;flex-direction:column;padding:40px 0;width:620px;border:5px solid #A8D5FF;border-radius:0 50px 0 50px;box-sizing:border-box;}
.main_wrap .event_tab .cont2 .tit1-quiz .quiz:nth-child(even) {margin-left:40px;}
.main_wrap .event_tab .cont2 .tit1-quiz .quiz:before {content:'';position:absolute;width:0;height:0;background-image:url('../../images/portalPage/event_tab_tit1_icons.png');background-repeat:no-repeat;opacity:0;transition:opacity .3s ease-out, width .3s ease-out;}
.main_wrap .event_tab .cont2 .tit1-quiz .quiz.right:before {top:0;left:95px;width:178px;height:134px;background-position:-551px -215px;opacity:1;}
.main_wrap .event_tab .cont2 .tit1-quiz .quiz.wrong:before {top:-10px;left:100px;width:174px;height:174px;background-position:-551px -359px;opacity:1;}
.main_wrap .event_tab .cont2 .tit1-quiz .quiz2.right:before {top:0;left:5px;}
.main_wrap .event_tab .cont2 .tit1-quiz .quiz2.wrong:before {top:-10px;left:0px}
.main_wrap .event_tab .cont2 .tit1-quiz .quiz3.right:before {top:0;left:25px;}
.main_wrap .event_tab .cont2 .tit1-quiz .quiz3.wrong:before {top:-10px;left:20px}
.main_wrap .event_tab .cont2 .tit1-quiz .quiz4.right:before {top:-5px;left:100px}
.main_wrap .event_tab .cont2 .tit1-quiz .quiz4.wrong:before {top:-10px;left:90px}

.main_wrap .event_tab .cont2 .tit1-quiz .rdo_wrap {display:flex;justify-content:center;align-items:center;flex-wrap:wrap;}
.main_wrap .event_tab .cont2 .tit1-quiz .quiz label{display:inline-block;font-size:0;}
.main_wrap .event_tab .cont2 .tit1-quiz .quiz input{position:absolute;width:0;height:0;}
.main_wrap .event_tab .cont2 .tit1-quiz .quiz label span{font-size:0;background-image:url('../../images/portalPage/event_tab_tit1_icons.png');background-repeat:no-repeat;cursor:pointer;}

.main_wrap .event_tab .cont2 .tit1-quiz .quiz1 {height:365px;}
.main_wrap .event_tab .cont2 .tit1-quiz .quiz1 img + img{margin-top:29px;}
.main_wrap .event_tab .cont2 .tit1-quiz .quiz1 .rdo_wrap{margin-top:27px;}
.main_wrap .event_tab .cont2 .tit1-quiz .quiz1 input + span{display:inline-block;width:92px;height:92px;}
.main_wrap .event_tab .cont2 .tit1-quiz .quiz1 label:nth-child(1) input + span{background-position:-5px -5px;}
.main_wrap .event_tab .cont2 .tit1-quiz .quiz1 label:nth-child(1) span.disable{background-position:-107px -5px;}
.main_wrap .event_tab .cont2 .tit1-quiz .quiz1 label:nth-child(1) input:checked + span,
.main_wrap .event_tab .cont2 .tit1-quiz .quiz1 label:nth-child(1):hover span{background-position:-209px -5px;}
.main_wrap .event_tab .cont2 .tit1-quiz .quiz1 label:nth-child(2){margin-left:38px;}
.main_wrap .event_tab .cont2 .tit1-quiz .quiz1 label:nth-child(2) input + span{background-position:-311px -5px;}
.main_wrap .event_tab .cont2 .tit1-quiz .quiz1 label:nth-child(2) span.disable{background-position:-413px -5px;}
.main_wrap .event_tab .cont2 .tit1-quiz .quiz1 label:nth-child(2) input:checked + span,
.main_wrap .event_tab .cont2 .tit1-quiz .quiz1 label:nth-child(2):hover span{background-position:-515px -5px;}

.main_wrap .event_tab .cont2 .tit1-quiz .quiz2 {height:540px;border-radius:50px 0 50px 0;}
.main_wrap .event_tab .cont2 .tit1-quiz .quiz2 .rdo_wrap{margin-top:38px;padding:0 50px;}
.main_wrap .event_tab .cont2 .tit1-quiz .quiz2 input + span{display:inline-block;width:172px;height:60px;}
.main_wrap .event_tab .cont2 .tit1-quiz .quiz2 label:nth-child(1) input + span{background-position:-5px -107px;}
.main_wrap .event_tab .cont2 .tit1-quiz .quiz2 label:nth-child(1) span.disable{background-position:-187px -107px;}
.main_wrap .event_tab .cont2 .tit1-quiz .quiz2 label:nth-child(1) input:checked + span,
.main_wrap .event_tab .cont2 .tit1-quiz .quiz2 label:nth-child(1):hover span{background-position:-369px -107px;}
.main_wrap .event_tab .cont2 .tit1-quiz .quiz2 label:nth-child(2){margin-left:8px;}
.main_wrap .event_tab .cont2 .tit1-quiz .quiz2 label:nth-child(2) input + span{background-position:-5px -177px;}
.main_wrap .event_tab .cont2 .tit1-quiz .quiz2 label:nth-child(2) span.disable{background-position:-187px -177px;}
.main_wrap .event_tab .cont2 .tit1-quiz .quiz2 label:nth-child(2) input:checked + span,
.main_wrap .event_tab .cont2 .tit1-quiz .quiz2 label:nth-child(2):hover span{background-position:-369px -177px;}
.main_wrap .event_tab .cont2 .tit1-quiz .quiz2 label:nth-child(3){margin-top:8px;}
.main_wrap .event_tab .cont2 .tit1-quiz .quiz2 label:nth-child(3) input + span{background-position:-5px -247px;}
.main_wrap .event_tab .cont2 .tit1-quiz .quiz2 label:nth-child(3) span.disable{background-position:-187px -247px;}
.main_wrap .event_tab .cont2 .tit1-quiz .quiz2 label:nth-child(3) input:checked + span,
.main_wrap .event_tab .cont2 .tit1-quiz .quiz2 label:nth-child(3):hover span{background-position:-369px -247px;}
.main_wrap .event_tab .cont2 .tit1-quiz .quiz2 label:nth-child(4){margin-top:8px;margin-left:8px;}
.main_wrap .event_tab .cont2 .tit1-quiz .quiz2 label:nth-child(4) input + span{background-position:-5px -317px;}
.main_wrap .event_tab .cont2 .tit1-quiz .quiz2 label:nth-child(4) span.disable{background-position:-187px -317px;}
.main_wrap .event_tab .cont2 .tit1-quiz .quiz2 label:nth-child(4) input:checked + span,
.main_wrap .event_tab .cont2 .tit1-quiz .quiz2 label:nth-child(4):hover span{background-position:-369px -317px;}

.main_wrap .event_tab .cont2 .tit1-quiz .quiz3 {margin-top:-144px;height:540px;}
.main_wrap .event_tab .cont2 .tit1-quiz .quiz3 .rdo_wrap{margin-top:42px;padding:0 50px;}
.main_wrap .event_tab .cont2 .tit1-quiz .quiz3 input + span{display:inline-block;width:172px;height:60px;}
.main_wrap .event_tab .cont2 .tit1-quiz .quiz3 label:nth-child(1) input + span{background-position:-5px -387px;}
.main_wrap .event_tab .cont2 .tit1-quiz .quiz3 label:nth-child(1) span.disable{background-position:-187px -387px;}
.main_wrap .event_tab .cont2 .tit1-quiz .quiz3 label:nth-child(1) input:checked + span,
.main_wrap .event_tab .cont2 .tit1-quiz .quiz3 label:nth-child(1):hover span{background-position:-369px -387px;}
.main_wrap .event_tab .cont2 .tit1-quiz .quiz3 label:nth-child(2){margin-left:8px;}
.main_wrap .event_tab .cont2 .tit1-quiz .quiz3 label:nth-child(2) input + span{background-position:-5px -457px;}
.main_wrap .event_tab .cont2 .tit1-quiz .quiz3 label:nth-child(2) span.disable{background-position:-187px -457px;}
.main_wrap .event_tab .cont2 .tit1-quiz .quiz3 label:nth-child(2) input:checked + span,
.main_wrap .event_tab .cont2 .tit1-quiz .quiz3 label:nth-child(2):hover span{background-position:-369px -457px;}
.main_wrap .event_tab .cont2 .tit1-quiz .quiz3 label:nth-child(3){margin-top:8px;}
.main_wrap .event_tab .cont2 .tit1-quiz .quiz3 label:nth-child(3) input + span{background-position:-5px -527px;}
.main_wrap .event_tab .cont2 .tit1-quiz .quiz3 label:nth-child(3) span.disable{background-position:-187px -527px;}
.main_wrap .event_tab .cont2 .tit1-quiz .quiz3 label:nth-child(3) input:checked + span,
.main_wrap .event_tab .cont2 .tit1-quiz .quiz3 label:nth-child(3):hover span{background-position:-369px -527px;}
.main_wrap .event_tab .cont2 .tit1-quiz .quiz3 label:nth-child(4){margin-top:8px;margin-left:8px;}
.main_wrap .event_tab .cont2 .tit1-quiz .quiz3 label:nth-child(4) input + span{background-position: -617px -5px;}
.main_wrap .event_tab .cont2 .tit1-quiz .quiz3 label:nth-child(4) span.disable{background-position:-617px -75px;}
.main_wrap .event_tab .cont2 .tit1-quiz .quiz3 label:nth-child(4) input:checked + span,
.main_wrap .event_tab .cont2 .tit1-quiz .quiz3 label:nth-child(4):hover span{background-position: -551px -145px;}

.main_wrap .event_tab .cont2 .tit1-quiz .quiz4 {margin-top:31px;height:365px}
.main_wrap .event_tab .cont2 .tit1-quiz .quiz4 img + img{margin-top:16px;}
.main_wrap .event_tab .cont2 .tit1-quiz .quiz4 .rdo_wrap{margin-top:33px;}
.main_wrap .event_tab .cont2 .tit1-quiz .quiz4 input + span{display:inline-block;width:92px;height:92px;}
.main_wrap .event_tab .cont2 .tit1-quiz .quiz4 label:nth-child(1) input + span{background-position:-5px -5px;}
.main_wrap .event_tab .cont2 .tit1-quiz .quiz4 label:nth-child(1) span.disable{background-position:-107px -5px;}
.main_wrap .event_tab .cont2 .tit1-quiz .quiz4 label:nth-child(1) input:checked + span,
.main_wrap .event_tab .cont2 .tit1-quiz .quiz4 label:nth-child(1):hover span{background-position:-209px -5px;}
.main_wrap .event_tab .cont2 .tit1-quiz .quiz4 label:nth-child(2){margin-left:38px;}
.main_wrap .event_tab .cont2 .tit1-quiz .quiz4 label:nth-child(2) input + span{background-position:-311px -5px;}
.main_wrap .event_tab .cont2 .tit1-quiz .quiz4 label:nth-child(2) span.disable{background-position:-413px -5px;}
.main_wrap .event_tab .cont2 .tit1-quiz .quiz4 label:nth-child(2) input:checked + span,
.main_wrap .event_tab .cont2 .tit1-quiz .quiz4 label:nth-child(2):hover span{background-position:-515px -5px;}
.main_wrap .event_tab .cont2 .cont1-tit1-link {position:relative;margin-top:80px;text-align:center;}
.main_wrap .event_tab .cont2 .cont1-tit1-link .link-wrap{display:flex;justify-content:center;height:90px;}
.main_wrap .event_tab .cont2 .cont1-tit1-link .linkgo {width:600px;height:90px;background-image:url('../../images/portalPage/event_tab_tit1_link_icons.png');background-repeat:no-repeat;background-position:-5px -5px;cursor:pointer;}
.main_wrap .event_tab .cont2 .cont1-tit1-link .linkgo.off {background-position:-5px -105px;}
.main_wrap .event_tab .cont2 .cont1-tit1-link .linkgo.on {height:169px;background-position:-5px -205px;transform:translateY(-79px);}
.main_wrap .event_tab .cont2 .cont1-tit1-link .linkchk{margin-left:16px;}
.main_wrap .event_tab .cont2 .cont1-tit1-link > img {margin-top:20px;}
.main_wrap .event_tab .cont2 .cont1-tit-notice {text-align:center;margin-top:72px}

.main_wrap .event_tab .cont3 .tit1-sub {display:flex;justify-content:center;margin-top:19px;}
.main_wrap .event_tab .cont3 .tit1-temp {position:relative;margin-top:86px;}
.main_wrap .event_tab .cont3 .tit1-temp .place_find {position:absolute;top:553px;right:293px;width:123px;height:34px;}
.main_wrap .event_tab .cont3 .tit1-link {display:flex;justify-content:center;margin-top:48px;}
.main_wrap .event_tab .cont4 .inner{padding:140px 0 20px;}
.main_wrap .event_tab .cont4.color_bg .inner{padding:140px 0;}
.main_wrap .event_tab .cont4 .tit1-img{margin-top:63px;text-align:center;}
.main_wrap .event_tab .cont4 .tit1-img img{width:auto;}
.main_wrap .event_tab .cont4 .tit1-link{margin-top:80px;text-align:center;}

.main_wrap .event_tab .popup_wrap {position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,.6);opacity:0;z-index:-100;}
.main_wrap .event_tab .popup_wrap.is-open {opacity:1;z-index:510;}
.main_wrap .event_tab .popup_wrap .popup-box{display:flex;justify-content:center;align-items:center;flex-direction:column;width:100%;height:100%;font-size:0;}
.main_wrap .event_tab .popup_wrap .popup-box .box-cont {position:relative;border-radius:30px 30px 0 0;background-color:#fff;overflow-y:auto;}
.main_wrap .event_tab .popup_wrap .popup-box .box-cont::-webkit-scrollbar {display:none;}
.main_wrap .event_tab .popup_wrap .popup-box .box-cont .input-box{position:relative;margin-top:16px;text-align:center;}
.main_wrap .event_tab .popup_wrap .popup-box .box-cont .input-box input{position:absolute;top:36px;left:80px;padding:0 20px;width:440px;height:48px;box-sizing:border-box;font-size:20px;background:transparent;}
.main_wrap .event_tab .popup_wrap .popup-box .box-cont .input-box input::placeholder,
.main_wrap .event_tab .popup_wrap .popup-box .box-cont .input-box input:disabled{color:#A9B4C5;}
.main_wrap .event_tab .popup_wrap .popup-box .box-cont .input-box input[disabled="true"]{color:#A9B4C5;}
.main_wrap .event_tab .popup_wrap .popup-box .box-cont .input-box input.inpPhone{top:125px;}
.main_wrap .event_tab .popup_wrap .popup-box .box-cont .input-box.addr{margin-top:8px;text-align:center;}
.main_wrap .event_tab .popup_wrap .popup-box .box-cont .input-box.addr .inpAddr1{top:34px;left:80px;width:390px;}
.main_wrap .event_tab .popup_wrap .popup-box .box-cont .input-box.addr .inpAddrBtn{position:absolute;top:34px;left:auto;right:80px;width:54px;height:48px;cursor:pointer;}
.main_wrap .event_tab .popup_wrap .popup-box .box-cont .input-box.addr .inpAddr2{top:90px;}
.main_wrap .event_tab .popup_wrap .popup-box .box-cont .input-box.grade{margin-top:8px;margin-left:80px;text-align:left;}
.main_wrap .event_tab .popup_wrap .popup-box .box-cont .input-box.grade .rdo_wrap{position:relative;margin-top:2px;}
.main_wrap .event_tab .popup_wrap .popup-box .box-cont .input-box.grade .rdo_wrap label{font-size:0;}
.main_wrap .event_tab .popup_wrap .popup-box .box-cont .input-box.grade input{top:0;left:0;width:0;height:0;}
.main_wrap .event_tab .popup_wrap .popup-box .box-cont .input-box.grade input + span{margin-left:40px;padding-left:34px;font-weight:500;font-size:20px;color:#242424;}
.main_wrap .event_tab .popup_wrap .popup-box .box-cont .input-box.grade label:first-child input + span{margin-left:0;}
.main_wrap .event_tab .popup_wrap .popup-box .box-cont .input-box.grade input + span:before{content:'';position:absolute;top:-1px;left:0;width:32px;height:32px;background:url('../../images/portalPage/event_tab_tit1_popup_rdo_icons.png') no-repeat;background-position:-10px -10px;}
.main_wrap .event_tab .popup_wrap .popup-box .box-cont .input-box.grade input:checked + span:before{background-position:-64px -10px;}
.main_wrap .event_tab .popup_wrap .popup-box .box-cont .input-box.grade .rdo_wrap label:nth-child(2) input + span:before{left:104px}
.main_wrap .event_tab .popup_wrap .popup-box .box-cont .input-box.grade .rdo_wrap label:nth-child(3) input + span:before{left:209px;}

.main_wrap .event_tab .popup_wrap .popup-box .box-cont .agree-box{position:relative;margin-top:32px;border-top:1px solid #E6E6E6;text-align:center;}
.main_wrap .event_tab .popup_wrap .popup-box .box-cont .agree-box .imgwrap{margin-top:32px;margin-left:40px;}
.main_wrap .event_tab .popup_wrap .popup-box .box-cont .agree-box input + span{position:absolute;top:29px;left:79px;width:30px;height:30px;background:url('../../images/portalPage/event_tab_tit1_popup_chk_icons.png') no-repeat;background-position:-5px -5px;cursor:pointer;}
.main_wrap .event_tab .popup_wrap .popup-box .box-cont .agree-box input:checked + span{background-position:-45px -5px;}
.main_wrap .event_tab .popup_wrap .popup-box .box-cont .agree-box label:nth-of-type(1) + button{position:absolute;top:23px;right:70px;width:50px;height:44px;}
.main_wrap .event_tab .popup_wrap .popup-box .box-cont .agree-box #agr2 + span{top:76px;}
.main_wrap .event_tab .popup_wrap .popup-box .box-cont .agree-box label:nth-of-type(2) + button{position:absolute;top:75px;right:70px;width:50px;height:44px;;}
.main_wrap .event_tab .popup_wrap .popup-box .box-cont .agree-box .imgwrap2{margin:32px 0 40px;}
.main_wrap .event_tab .popup_wrap .popup-box .box-cont .closeBtn{position:absolute;top:24px;right:24px;}
.main_wrap .event_tab .popup_wrap .popup-box .box-bot{border-radius:0 0 30px 30px;}
.main_wrap .event_tab .popup_wrap .popup-box .box-bot .submit img:nth-child(1){display:inline;}
.main_wrap .event_tab .popup_wrap .popup-box .box-bot .submit img:nth-child(2){display:none;}
.main_wrap .event_tab .popup_wrap .popup-box .box-bot .submit.on img:nth-child(1){display:none;}
.main_wrap .event_tab .popup_wrap .popup-box .box-bot .submit.on img:nth-child(2){display:inline;}

.main_wrap .event_tab .popup_wrap .popup-s-box{position:absolute;top:0;left:0;display:flex;justify-content:center;align-items:center;flex-direction:column;width:100%;height:100%;background:rgba(0,0,0,.2);font-size:0;opacity:0;z-index:-100;}
.main_wrap .event_tab .popup_wrap .popup-s-box.is-open{opacity:1;z-index:510;;}
.main_wrap .event_tab .popup_wrap .popup-s-box .box-cont{position:relative;}
.main_wrap .event_tab .popup_wrap .popup-s-box .closeBtn{position:absolute;top:25px;right:25px;width:22px;height:22px;}
.main_wrap .event_tab .popup_wrap .popup-s-box .confirm{position: absolute;bottom: 0;left: 0;width: 100%;height: 70px;}
.main_wrap .event_tab .popup_wrap .popup-s-box .confirm.cancel {width:50%;}
.main_wrap .event_tab .popup_wrap .popup-s-box .confirm.cancel + .confirm {left:50%;width:50%;}
.main_wrap .event_tab .popup_wrap .popup-s-box .input-box {position:absolute;top:130px;left:40px;}
.main_wrap .event_tab .popup_wrap .popup-s-box .input-box label {display:block;}
.main_wrap .event_tab .popup_wrap .popup-s-box .input-box label input{padding:0 20px;width:379px;height:48px;box-sizing:border-box;background:none;font-weight:500;font-size:20px;color:#242424;}
.main_wrap .event_tab .popup_wrap .popup-s-box .input-box label input::placeholder{color:#A9B4C5;}
.main_wrap .event_tab .popup_wrap .popup-s-box .input-box label:nth-child(2) {margin-top:42px;}

.main_wrap .event_tab .popup_wrap .popup-s-box .rdo_wrap {position:absolute;top:246px;left:94px;width:272px;height:32px;}
.main_wrap .event_tab .popup_wrap .popup-s-box .rdo_wrap input{top:0;left:0;width:0;height:0;}
.main_wrap .event_tab .popup_wrap .popup-s-box .rdo_wrap input + span{margin-left:40px;padding-left:34px;font-weight:500;font-size:20px;color:#242424;}
.main_wrap .event_tab .popup_wrap .popup-s-box .rdo_wrap label:first-child input + span{margin-left:0;}
.main_wrap .event_tab .popup_wrap .popup-s-box .rdo_wrap input + span:before{content:'';position:absolute;top:-1px;left:0;width:32px;height:32px;background:url('../../images/portalPage/event_tab_tit1_popup_rdo_icons.png') no-repeat;background-position:-10px -10px;}
.main_wrap .event_tab .popup_wrap .popup-s-box .rdo_wrap input:checked + span:before{background-position:-64px -10px;}
.main_wrap .event_tab .popup_wrap .popup-s-box .rdo_wrap label:nth-child(2) input + span:before{left:104px}
.main_wrap .event_tab .popup_wrap .popup-s-box .rdo_wrap label:nth-child(3) input + span:before{left:209px;}
.main_wrap .event_tab .popup_wrap .popup-s-box .pop-down .cancel + .confirm{width:230px;height:70px;background:url('../../images/portalPage/event_tab_tit1_pop-chk2_off.png') no-repeat;}
.main_wrap .event_tab .popup_wrap .popup-s-box .pop-down .cancel + .confirm.on{background:none;}