/* 탭4 */
.main_wrap .tab_wrap .tab_body .offline_tab .tit1-mark {
    margin-top: 20px;
}

.main_wrap .tab_wrap .tab_body .offline_tab .tit1-sub {
    margin-top: 20px;
}

.main_wrap .tab_wrap .tab_body .offline_tab .tit1-sub img {
    width: 248px;
}

.main_wrap .tab_wrap .tab_body .offline_tab .tit1-column {
    margin-top: 47px;
}

.main_wrap .tab_wrap .tab_body .offline_tab .tit1-column .column-box {
    position: relative;
    padding: 0 16px 24px;
    border-radius: 0 50px 0 50px;
    box-sizing: border-box;
    text-align: center;
    background-color: #F2F2F2;
}

.main_wrap .tab_wrap .tab_body .offline_tab .tit1-column .column-symbol {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 116px;
}

.main_wrap .tab_wrap .tab_body .offline_tab .tit1-column .column-box+.column-box {
    margin-top: 40px;
}

.main_wrap .tab_wrap .tab_body .offline_tab .tit1-column .column-box li:not(:first-child) {
    margin-top: 14px;
}

.main_wrap .tab_wrap .tab_body .offline_tab .tit1-column .column-box li a {
    position: absolute;
    margin-left: -89px;
    margin-top: 73px;
    width: 76px;
    height: 40px;
    border-radius: 20px;
    background-image: url("https://resource-portal.etoos.com/common-page/static/m_offline_on.png");
    background-repeat: no-repeat;
    background-size: 76px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
}

.main_wrap .tab_wrap .tab_body .offline_tab .tit1-column .column-box li a+a {
    margin-top: 121px;
}

.main_wrap .tab_wrap .tab_body .offline_tab .tit1-column .column-box li a.close {
    background-image: url("https://resource-portal.etoos.com/common-page/static/m_offline_close.png");
    box-shadow: none;
    cursor: auto;
}

.main_wrap .tab_wrap .tab_body .offline_tab .tit1-column .column-box .column-link {
    margin-top: 38px;
}

.main_wrap .tab_wrap .tab_body .offline_tab .tit1-column .column-box.column1 .column-symbol img {
    width: 270px;
}

.main_wrap .tab_wrap .tab_body .offline_tab .tit1-column .column-box.column2 .column-symbol img {
    width: 221px;
}

.main_wrap .tab_wrap .tab_body .offline_tab .tit1-column .column-box.column3 .column-symbol img {
    width: 162px;
}

.main_wrap .tab_wrap .tab_body .offline_tab .tit1-column .column-box.column3 li:not(:first-child) a {
    margin-top: 89px;
}