/* 탭5 */
.main_wrap .event_tab .cont1 .inner {
    padding-bottom: 40px;
}

.main_wrap .event_tab .cont1 .tit1-cont {
    margin-top: 24px;
}

.main_wrap .event_tab .cont1_1 .inner {
    padding: 40px 0;
}

.main_wrap .event_tab .color_bg {
    background: #E6F3FF;
}

.main_wrap .event_tab .cont2 {
    margin-bottom: 56px;
}

.main_wrap .event_tab .cont2 .inner {
    padding: 40px 0 0;
}

.main_wrap .event_tab .cont2 .tit1-quiz-tit {
    text-align: center;
}

.main_wrap .event_tab .cont2 .tit1-quiz-tit img {
    width: 262px;
}

.main_wrap .event_tab .cont2 .tit1-quiz {
    margin-top: 24px;
}

.main_wrap .event_tab .cont2 .tit1-quiz .quiz {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 24px;
    padding: 30px 0;
    width: 100%;
    border: 2px solid #A8D5FF;
    border-radius: 0 50px 0 50px;
    box-sizing: border-box;
}

.main_wrap .event_tab .cont2 .tit1-quiz .quiz:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    background-image: url('https://resource-portal.etoos.com/common-page/static/m_event_tab_tit1_icons.png');
    background-repeat: no-repeat;
    background-size: 635px;
    opacity: 0;
    transition: opacity .3s ease-out, height .3s ease-out;
}

.main_wrap .event_tab .cont2 .tit1-quiz .quiz.right:before {
    top: 7px;
    left: -20px;
    width: 118px;
    height: 89px;
    background-position: -5px -5px;
    opacity: 1;
}

.main_wrap .event_tab .cont2 .tit1-quiz .quiz.wrong:before {
    top: 5px;
    left: -13px;
    width: 100px;
    height: 100px;
    background-position: -133px -5px;
    opacity: 1;
}

.main_wrap .event_tab .cont2 .tit1-quiz .quiz2.wrong:before {
    top: 3px;
    left: -12px
}

.main_wrap .event_tab .cont2 .tit1-quiz .quiz3.wrong:before {
    top: 3px;
    left: -12px
}

.main_wrap .event_tab .cont2 .tit1-quiz .rdo_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.main_wrap .event_tab .cont2 .tit1-quiz .quiz label {
    display: inline-block;
    font-size: 0;
}

.main_wrap .event_tab .cont2 .tit1-quiz .quiz input {
    position: absolute;
    width: 0;
    height: 0;
}

.main_wrap .event_tab .cont2 .tit1-quiz .quiz label span {
    font-size: 0;
    background-image: url('https://resource-portal.etoos.com/common-page/static/m_event_tab_tit1_icons.png');
    background-repeat: no-repeat;
    background-size: 635px;
    cursor: pointer;
}

.main_wrap .event_tab .cont2 .tit1-quiz .quiz1 img {
    width: 280px;
}

.main_wrap .event_tab .cont2 .tit1-quiz .quiz1 .rdo_wrap {
    margin-top: 24px;
}

.main_wrap .event_tab .cont2 .tit1-quiz .quiz1 input+span {
    display: inline-block;
    width: 76px;
    height: 76px;
}

.main_wrap .event_tab .cont2 .tit1-quiz .quiz1 label:nth-child(1) input+span {
    background-position: -552px -315px;
}

.main_wrap .event_tab .cont2 .tit1-quiz .quiz1 label:nth-child(1) span.disable {
    background-position: -466px -315px;
}

.main_wrap .event_tab .cont2 .tit1-quiz .quiz1 label:nth-child(1) input:checked+span,
.main_wrap .event_tab .cont2 .tit1-quiz .quiz1 label:nth-child(1):hover span {
    background-position: -553px -5px;
}

.main_wrap .event_tab .cont2 .tit1-quiz .quiz1 label:nth-child(2) {
    margin-left: 28px;
}

.main_wrap .event_tab .cont2 .tit1-quiz .quiz1 label:nth-child(2) input+span {
    background-position: -468px -487px;
}

.main_wrap .event_tab .cont2 .tit1-quiz .quiz1 label:nth-child(2) span.disable {
    background-position: -554px -401px;
}

.main_wrap .event_tab .cont2 .tit1-quiz .quiz1 label:nth-child(2) input:checked+span,
.main_wrap .event_tab .cont2 .tit1-quiz .quiz1 label:nth-child(2):hover span {
    background-position: -468px -401px;
}

.main_wrap .event_tab .cont2 .tit1-quiz .quiz2 img {
    width: 280px;
}

.main_wrap .event_tab .cont2 .tit1-quiz .quiz2 .rdo_wrap {
    margin-top: 24px;
}

.main_wrap .event_tab .cont2 .tit1-quiz .quiz2 input+span {
    display: inline-block;
    width: 143px;
    height: 50px;
}

.main_wrap .event_tab .cont2 .tit1-quiz .quiz2 label:nth-child(1) input+span {
    background-position: -5px -253px;
}

.main_wrap .event_tab .cont2 .tit1-quiz .quiz2 label:nth-child(1) span.disable {
    background-position: -243px -67px;
}

.main_wrap .event_tab .cont2 .tit1-quiz .quiz2 label:nth-child(1) input:checked+span,
.main_wrap .event_tab .cont2 .tit1-quiz .quiz2 label:nth-child(1):hover span {
    background-position: -243px -5px;
}

.main_wrap .event_tab .cont2 .tit1-quiz .quiz2 label:nth-child(2) {
    margin-left: 2px;
}

.main_wrap .event_tab .cont2 .tit1-quiz .quiz2 label:nth-child(2) input+span {
    background-position: -311px -253px;
}

.main_wrap .event_tab .cont2 .tit1-quiz .quiz2 label:nth-child(2) span.disable {
    background-position: -398px -5px;
}

.main_wrap .event_tab .cont2 .tit1-quiz .quiz2 label:nth-child(2) input:checked+span,
.main_wrap .event_tab .cont2 .tit1-quiz .quiz2 label:nth-child(2):hover span {
    background-position: -313px -433px;
}

.main_wrap .event_tab .cont2 .tit1-quiz .quiz2 label:nth-child(3) {
    margin-top: 8px;
}

.main_wrap .event_tab .cont2 .tit1-quiz .quiz2 label:nth-child(3) input+span {
    background-position: -158px -253px;
}

.main_wrap .event_tab .cont2 .tit1-quiz .quiz2 label:nth-child(3) span.disable {
    background-position: -158px -433px;
}

.main_wrap .event_tab .cont2 .tit1-quiz .quiz2 label:nth-child(3) input:checked+span,
.main_wrap .event_tab .cont2 .tit1-quiz .quiz2 label:nth-child(3):hover span {
    background-position: -158px -313px;
}

.main_wrap .event_tab .cont2 .tit1-quiz .quiz2 label:nth-child(4) {
    margin-top: 8px;
    margin-left: 2px;
}

.main_wrap .event_tab .cont2 .tit1-quiz .quiz2 label:nth-child(4) input+span {
    background-position: -5px -313px;
}

.main_wrap .event_tab .cont2 .tit1-quiz .quiz2 label:nth-child(4) span.disable {
    background-position: -470px -129px;
}

.main_wrap .event_tab .cont2 .tit1-quiz .quiz2 label:nth-child(4) input:checked+span,
.main_wrap .event_tab .cont2 .tit1-quiz .quiz2 label:nth-child(4):hover span {
    background-position: -398px -67px;
}

.main_wrap .event_tab .cont2 .tit1-quiz .quiz3 img {
    width: 280px;
}

.main_wrap .event_tab .cont2 .tit1-quiz .quiz3 .rdo_wrap {
    margin-top: 24px;
}

.main_wrap .event_tab .cont2 .tit1-quiz .quiz3 input+span {
    display: inline-block;
    width: 143px;
    height: 50px;
}

.main_wrap .event_tab .cont2 .tit1-quiz .quiz3 label:nth-child(1) input+span {
    background-position: -313px -313px;
}

.main_wrap .event_tab .cont2 .tit1-quiz .quiz3 label:nth-child(1) span.disable {
    background-position: -466px -253px;
}

.main_wrap .event_tab .cont2 .tit1-quiz .quiz3 label:nth-child(1) input:checked+span,
.main_wrap .event_tab .cont2 .tit1-quiz .quiz3 label:nth-child(1):hover span {
    background-position: -470px -191px;
}

.main_wrap .event_tab .cont2 .tit1-quiz .quiz3 label:nth-child(2) {
    margin-left: 2px;
}

.main_wrap .event_tab .cont2 .tit1-quiz .quiz3 label:nth-child(2) input+span {
    background-position: -313px -373px;
}

.main_wrap .event_tab .cont2 .tit1-quiz .quiz3 label:nth-child(2) span.disable {
    background-position: -5px -191px;
}

.main_wrap .event_tab .cont2 .tit1-quiz .quiz3 label:nth-child(2) input:checked+span,
.main_wrap .event_tab .cont2 .tit1-quiz .quiz3 label:nth-child(2):hover span {
    background-position: -315px -129px;
}

.main_wrap .event_tab .cont2 .tit1-quiz .quiz3 label:nth-child(3) {
    margin-top: 8px;
}

.main_wrap .event_tab .cont2 .tit1-quiz .quiz3 label:nth-child(3) input+span {
    background-position: -5px -373px;
}

.main_wrap .event_tab .cont2 .tit1-quiz .quiz3 label:nth-child(3) span.disable {
    background-position: -160px -129px;
}

.main_wrap .event_tab .cont2 .tit1-quiz .quiz3 label:nth-child(3) input:checked+span,
.main_wrap .event_tab .cont2 .tit1-quiz .quiz3 label:nth-child(3):hover span {
    background-position: -5px -129px;
}

.main_wrap .event_tab .cont2 .tit1-quiz .quiz3 label:nth-child(4) {
    margin-top: 8px;
    margin-left: 2px;
}

.main_wrap .event_tab .cont2 .tit1-quiz .quiz3 label:nth-child(4) input+span {
    background-position: -5px -433px;
}

.main_wrap .event_tab .cont2 .tit1-quiz .quiz3 label:nth-child(4) span.disable {
    background-position: -315px -191px;
}

.main_wrap .event_tab .cont2 .tit1-quiz .quiz3 label:nth-child(4) input:checked+span,
.main_wrap .event_tab .cont2 .tit1-quiz .quiz3 label:nth-child(4):hover span {
    background-position: -160px -191px;
}

.main_wrap .event_tab .cont2 .tit1-quiz .quiz4 img {
    width: 280px;
}

.main_wrap .event_tab .cont2 .tit1-quiz .quiz4 .rdo_wrap {
    margin-top: 33px;
}

.main_wrap .event_tab .cont2 .tit1-quiz .quiz4 input+span {
    display: inline-block;
    width: 76px;
    height: 76px;
}

.main_wrap .event_tab .cont2 .tit1-quiz .quiz4 label:nth-child(1) input+span {
    background-position: -552px -315px;
}

.main_wrap .event_tab .cont2 .tit1-quiz .quiz4 label:nth-child(1) span.disable {
    background-position: -466px -315px;
}

.main_wrap .event_tab .cont2 .tit1-quiz .quiz4 label:nth-child(1) input:checked+span,
.main_wrap .event_tab .cont2 .tit1-quiz .quiz4 label:nth-child(1):hover span {
    background-position: -553px -5px;
}

.main_wrap .event_tab .cont2 .tit1-quiz .quiz4 label:nth-child(2) {
    margin-left: 28px;
}

.main_wrap .event_tab .cont2 .tit1-quiz .quiz4 label:nth-child(2) input+span {
    background-position: -468px -487px;
}

.main_wrap .event_tab .cont2 .tit1-quiz .quiz4 label:nth-child(2) span.disable {
    background-position: -554px -401px;
}

.main_wrap .event_tab .cont2 .tit1-quiz .quiz4 label:nth-child(2) input:checked+span,
.main_wrap .event_tab .cont2 .tit1-quiz .quiz4 label:nth-child(2):hover span {
    background-position: -468px -401px;
}

.main_wrap .event_tab .cont2 .cont1-tit1-link {
    position: relative;
    margin-top: 40px;
    text-align: center;
}

.main_wrap .event_tab .cont2 .cont1-tit1-link button {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -160px;
    width: 320px;
    height: 64px;
    background-image: url('https://resource-portal.etoos.com/common-page/static/m_event_tab_tit1_link_icons.png');
    background-repeat: no-repeat;
    background-position: -5px -127px;
    background-size: 330px;
    cursor: pointer;
}

.main_wrap .event_tab .cont2 .cont1-tit1-link button.off {
    background-position: -5px -201px;
}

.main_wrap .event_tab .cont2 .cont1-tit1-link button.on {
    top: -48px;
    height: 112px;
    background-position: -5px -5px;
}

.main_wrap .event_tab .cont2 .cont1-tit1-link img {
    width: 282px;
    margin-top: calc(64px + 12px)
}

.main_wrap .event_tab .cont2 .cont1-tit1-link.complete {
    margin-top: 112px;
    ;
}

.main_wrap .event_tab .cont2 .cont1-tit1-link.complete button {
    background-image: url('https://resource-portal.etoos.com/common-page/static/m_event_tab_tit1_link-complete.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 320px;
    cursor: pointer;
}

.main_wrap .event_tab .cont2 .event-notice {
    position: relative;
    margin-top: 56px;
    height: 28px;
    overflow: hidden;
    transition: height .3s ease-out;
}

.main_wrap .event_tab .cont2 .event-notice button {
    position: absolute;
    top: 4px;
    right: 0;
    ;
    transform: rotate(180deg);
    transition: transform .3s ease-out;
}

.main_wrap .event_tab .cont2 .event-notice.on {
    height: 564px;
}

.main_wrap .event_tab .cont2 .event-notice.on button {
    transform: rotate(0deg);
}

.main_wrap .event_tab .cont3 .inner {
    padding: 56px 0;
}

.main_wrap .event_tab .cont3 .tit1-temp {
    position: relative;
    margin-top: 40px;
    text-align: center;
}

.main_wrap .event_tab .cont3 .tit1-temp img {
    width: 316px;
}

.main_wrap .event_tab .cont3 .tit1-temp .place_find {
    position: absolute;
    top: 215px;
    right: 34px;
    width: 108px;
    height: 30px;
}

.main_wrap .event_tab .cont3 .tit1-link {
    display: flex;
    justify-content: center;
    margin-top: 26px;
}

.main_wrap .event_tab .cont4 .inner {
    padding: 96px 0 36px;
}

.main_wrap .event_tab .cont4.color_bg .inner {
    padding: 56px 0;
}

.main_wrap .event_tab .cont4 .sub {
    margin-top: 40px;
}

.main_wrap .event_tab .cont4 .sub img {
    width: 274px;
}

.main_wrap .event_tab .cont4 .poem {
    margin-top: 30px;
}

.main_wrap .event_tab .cont4 .poem img {
    width: 295px
}

.main_wrap .event_tab .cont4 .gift {
    margin-top: 56px;
}

.main_wrap .event_tab .cont4 .img {
    margin-top: 29px;
}

.main_wrap .event_tab .cont4 .link {
    margin-top: 40px;
}

.main_wrap .event_tab .popup_wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    opacity: 0;
    z-index: -100;
}

.main_wrap .event_tab .popup_wrap.is-open {
    opacity: 1;
    z-index: 510;
}

.main_wrap .event_tab .popup_wrap .popup-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-size: 0;
}

.main_wrap .event_tab .popup_wrap .popup-box .head-box img {
    width: 320px;
}

.main_wrap .event_tab .popup_wrap .popup-box .box-cont {
    position: relative;
    border-radius: 30px 30px 0 0;
    background-color: #fff;
    overflow-y: auto;
}

.main_wrap .event_tab .popup_wrap .popup-box .box-cont .input-box {
    position: relative;
    padding: 24px 20px;
    width: 320px;
}

.main_wrap .event_tab .popup_wrap .popup-box .box-cont .input-box img {
    display: block;
    width: 280px;
}

.main_wrap .event_tab .popup_wrap .popup-box .box-cont .input-box .input-area {
    position: relative;
    margin-top: 16px;
}

.main_wrap .event_tab .popup_wrap .popup-box .box-cont .input-box .input-area label input::placeholder {
    color: #A9B4C5;
}

.main_wrap .event_tab .popup_wrap .popup-box .box-cont .input-box .input-name-phone input {
    position: absolute;
    top: 23px;
    left: 0;
    padding: 0 16px;
    width: 280px;
    height: 48px;
    box-sizing: border-box;
    font-size: 16px;
    background: transparent;
}

.main_wrap .event_tab .popup_wrap .popup-box .box-cont .input-box .input-name-phone .inpPhone input {
    top: 110px;
}

.main_wrap .event_tab .popup_wrap .popup-box .box-cont .input-box .input-address input {
    position: absolute;
    top: 23px;
    left: 0;
    padding: 0 16px;
    width: 280px;
    height: 48px;
    box-sizing: border-box;
    font-size: 16px;
    background: transparent;
}

.main_wrap .event_tab .popup_wrap .popup-box .box-cont .input-box .input-address .inpAddress input {
    width: 240px;
}

.main_wrap .event_tab .popup_wrap .popup-box .box-cont .input-box .input-address .inpAddressDetail input {
    top: 79px;
}

.main_wrap .event_tab .popup_wrap .popup-box .box-cont .input-box label:nth-of-type(1)+button {
    position: absolute;
    top: 23px;
    right: 0;
    width: 48px;
    height: 48px;
}

.main_wrap .event_tab .popup_wrap .popup-box .box-cont .input-box .input-grade img {
    margin-bottom: 8px;
    width: 36px;
}

.main_wrap .event_tab .popup_wrap .popup-box .box-cont .input-box .input-grade label+label {
    margin-left: 32px;
}

.main_wrap .event_tab .popup_wrap .popup-box .box-cont .input-box .input-grade label input {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url('https://resource-portal.etoos.com/common-page/static/m_event_tab_tit1_popup_radio_icons.png') no-repeat;
    background-position: -25px 0;
    background-size: 49px auto;
    cursor: pointer;
    vertical-align: bottom;
}

.main_wrap .event_tab .popup_wrap .popup-box .box-cont .input-box .input-grade label input:checked {
    background-position: 0 0;
}

.main_wrap .event_tab .popup_wrap .popup-box .box-cont .input-box .input-grade label strong {
    padding-left: 8px;
    font-size: 16px;
    font-weight: 500;
    color: #242424;
}

.main_wrap .event_tab .popup_wrap .popup-box .box-cont .agree-box {
    position: relative;
    padding: 29px 0 24px;
    text-align: center;
    border-top: 1px solid #E6E6E6;
}

.main_wrap .event_tab .popup_wrap .popup-box .box-cont .agree-box img {
    width: 280px;
}

.main_wrap .event_tab .popup_wrap .popup-box .box-cont .agree-box input+span {
    position: absolute;
    top: 24px;
    left: 20px;
    width: 24px;
    height: 24px;
    background: url('https://resource-portal.etoos.com/common-page/static/m_event_tab_tit1_popup_chk_icons.png') no-repeat;
    background-position: -5px -5px;
    background-size: 68px;
    cursor: pointer;
}

.main_wrap .event_tab .popup_wrap .popup-box .box-cont .agree-box input:checked+span {
    background-position: -39px -5px;
}

.main_wrap .event_tab .popup_wrap .popup-box .box-cont .agree-box label:nth-of-type(1)+button {
    position: absolute;
    top: 19px;
    right: 17px;
    width: 34px;
    height: 33px;
}

.main_wrap .event_tab .popup_wrap .popup-box .box-cont .agree-box .agr2 input+span {
    top: 64px;
}

.main_wrap .event_tab .popup_wrap .popup-box .box-cont .agree-box label:nth-of-type(2)+button {
    position: absolute;
    top: 59px;
    right: 17px;
    width: 34px;
    height: 33px;
    ;
}

.main_wrap .event_tab .popup_wrap .popup-box .box-cont .closeBtn button {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 22px;
    height: 22px;
}

.main_wrap .event_tab .popup_wrap .popup-box .box-bot {
    border-radius: 0 0 30px 30px;
}

.main_wrap .event_tab .popup_wrap .popup-box .box-bot img {
    width: 160px;
    max-width: 50vw;
}

.main_wrap .event_tab .popup_wrap .popup-box .box-bot .submit img:nth-child(1) {
    display: inline;
}

.main_wrap .event_tab .popup_wrap .popup-box .box-bot .submit img:nth-child(2) {
    display: none;
}

.main_wrap .event_tab .popup_wrap .popup-box .box-bot .submit.on img:nth-child(1) {
    display: none;
}

.main_wrap .event_tab .popup_wrap .popup-box .box-bot .submit.on img:nth-child(2) {
    display: inline;
}

.main_wrap .event_tab .popup_wrap .popup-s-box {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .2);
    font-size: 0;
    opacity: 0;
    z-index: -100;
}

.main_wrap .event_tab .popup_wrap .popup-s-box.is-open {
    opacity: 1;
    z-index: 510;
}

.main_wrap .event_tab .popup_wrap .popup-s-box .box-cont {
    position: relative;
}

.main_wrap .event_tab .popup_wrap .popup-s-box .box-cont img {
    width: 320px;
}

.main_wrap .event_tab .popup_wrap .popup-s-box .box-cont .input-area label input::placeholder {
    color: #A9B4C5;
}

.main_wrap .event_tab .popup_wrap .popup-s-box .box-cont .input-name-phone input {
    position: absolute;
    top: 110px;
    left: 20px;
    padding: 0 16px;
    width: 280px;
    height: 48px;
    box-sizing: border-box;
    font-size: 16px;
    background: transparent;
}

.main_wrap .event_tab .popup_wrap .popup-s-box .box-cont .input-name-phone .popInpPhone input {
    top: 195px;
}

.main_wrap .event_tab .popup_wrap .popup-s-box .box-cont .input-grade {
    position: absolute;
    top: 192px;
    left: 40px;
}

.main_wrap .event_tab .popup_wrap .popup-s-box .box-cont .input-grade label+label {
    margin-left: 32px;
}

.main_wrap .event_tab .popup_wrap .popup-s-box .box-cont .input-grade label input {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url('https://resource-portal.etoos.com/common-page/static/m_event_tab_tit1_popup_radio_icons.png') no-repeat;
    background-position: -25px 0;
    background-size: 49px auto;
    cursor: pointer;
    vertical-align: bottom;
}

.main_wrap .event_tab .popup_wrap .popup-s-box .box-cont .input-grade label input:checked {
    background-position: 0 0;
}

.main_wrap .event_tab .popup_wrap .popup-s-box .box-cont .input-grade label strong {
    padding-left: 8px;
    font-size: 16px;
    font-weight: 500;
    color: #242424;
}

.main_wrap .event_tab .popup_wrap .popup-s-box .closeBtn {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 22px;
    height: 22px;
}

.main_wrap .event_tab .popup_wrap .popup-s-box .confirm {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 56px;
}

.main_wrap .event_tab .popup_wrap .popup-s-box .cancel {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 56px;
}

.main_wrap .event_tab .popup_wrap .popup-s-box .check {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 56px;
}

.main_wrap .event_tab .popup_wrap .popup-s-box .download {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 56px;
}

.main_wrap .event_tab .popup_wrap .popup-s-box .download img:nth-child(1) {
    display: inline;
}

.main_wrap .event_tab .popup_wrap .popup-s-box .download img:nth-child(2) {
    display: none;
}

.main_wrap .event_tab .popup_wrap .popup-s-box .download.on img:nth-child(1) {
    display: none;
}

.main_wrap .event_tab .popup_wrap .popup-s-box .download.on img:nth-child(2) {
    display: inline;
}