/* 탭2 */
.main_wrap .p3_after_tab .cont1 .tit1-video {
    position: relative;
    margin-top: 68px;
}

.main_wrap .p3_after_tab .cont1 .tit1-video a {
    display: block;
    margin: 0 auto;
    width: 728px;
}

.main_wrap .p3_after_tab .cont1 .tit1-video .tit1-people {
    position: absolute;
    top: -10px;
    right: 0;
}

.main_wrap .p3_after_tab .cont1 .tit1-video .tit1-txtbox {
    position: absolute;
    top: 60px;
    left: 0;
}

.main_wrap .p3_after_tab .cont1 .tit1-link {
    margin-top: 80px;
    text-align: center;
}

.main_wrap .p3_after_tab .cont2 {
    background: #F2F2F2 url(https://resource-portal.etoos.com/common-page/static/tab_body_bgline.png) center repeat-y;
}

.main_wrap .p3_after_tab .cont2 .tit1-link {
    position: relative;
    text-align: center;
}

.main_wrap .p3_after_tab .cont2 .tit1-link a {
    position: absolute;
    top: 491px;
    left: 359px;
    width: 546px;
    height: 106px;
}