<style type="text/css">
    .top_bn .inner .title {width:360px;}
    .top_bn .inner .link{position:absolute;top:0;left:50%;margin-left:14px;font-size:0;}
    .top_bn .inner .link a{display:inline-block;margin-left:10px;width:29px;height:40px;}

</style>
<div class="inner">
    <img src="../../resources/images/portalPage/m_top_banner_title_3p_after.png" alt="출제 문항과 입시적 측면에서 본 3평의 의미와 한계" class="title">
    <div class="link">
        <a href="javascript:;"><span class="blind">고1</span></a>
        <a href="javascript:;"><span class="blind">고2</span></a>
        <a href="javascript:;"><span class="blind">고3</span></a>
    </div>
</div>
