<div class="p3_star_tab">
    <div class="inner">
        <div class="cont1">
            <div class="tit1">
                <img src="../../resources/images/portalPage/m_3p_star_tab_tit1.png" alt="이투스 스타강사의 3월 학평 해설강의 ETOOS">
            </div>
            <div class="tit1-sub">
                <img src="../../resources/images/portalPage/m_3p_star_tab_tit1-sub.png" alt="“3월 학평 어땠어? 영역별 난이도와 출제 포인트, 해설영상까지 한번에 확인!”">
            </div>
            <div class="tit1-slide">
                <div id="video_slide1" class="video_slide1 swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="javascript:;">
                                <img src="../../resources/images/portalPage/m_3p_star_slide1.png" alt="">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="javascript:;">
                                <img src="../../resources/images/portalPage/m_3p_star_slide2.png" alt="">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="javascript:;">
                                <img src="../../resources/images/portalPage/m_3p_star_slide3.png" alt="">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="javascript:;">
                                <img src="../../resources/images/portalPage/m_3p_star_slide4.png" alt="">
                            </a>
                        </div>
                        
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <div class="tit1-link">
                <a href="javascript:;">
                    <img src="../../resources/images/portalPage/m_3p_star_tab_tab_tit1-link.png" alt="3월 학평 스타강사 해설강의 들으러 가기">
                </a>
            </div>
        </div>

        <!-- <div class="cont2">
            <div class="tit2"><img src="../../resources/images/portalPage/m_video_tab_tit2.png" alt="3월 학평? 6월이나 9월이 중요한 거 아니에요? ETOOS 교육평가연구소"></div>
            <div class="tit2-sub"><img src="../../resources/images/portalPage/m_video_tab_tit2-sub.png" alt="수능 리허설의 시작, 3월 학평! 입시 성공의 디딤돌입니다."></div>
            <div class="tit2-video">
                <a href="javascript:;">
                    <img src="../../resources/images/portalPage/m_video_tab_tit2-thumbnail.png" alt="2024 대입 성공 프로젝트 3월 학평의 의미">
                </a>
                <div class="tit2-people">
                    <img src="../../resources/images/portalPage/m_video_tab_tit2-people.png" alt="3월 학평은, 어떤 의미가 있을까? 대입 성공의 출발점인 3월 학평, 지난 학습 성과 점검과 향후 학습 계획 이투스교육평가연구소 김병진 소장">
                </div>
            </div>
            <div class="tit2-link">
                <a href="javascript:;">
                    <img src="../../resources/images/portalPage/m_video_tab_tit2-link.png" alt="3월 학평 당일에 해야할 것은? 바로가기">
                </a>
            </div>
        </div> -->
    </div>
</div>
