<div class="p3_after_tab">
    <div class="inner">
        <div class="cont1">
            <div class="tit1"><img src="../../resources/images/portalPage/3p_after_cont1_tit.png" alt="입시 성공의 시작! 모의고사는 시험 이전보다 이후가 더 중요합니다. 3월 학평을 통해 학습 전략을 세워보세요"></div>
            <div class="tit1-video">
                <div class="tit1-txtbox"><img src="../../resources/images/portalPage/p3_after_cont1_txtbox.png" alt="모의고사 이후 A to Z"></div>
                <a href="javascript:;">
                    <img src="../../resources/images/portalPage/p3_after_cont1_thumbnail.png" alt="">
                </a>
                <div class="tit1-people"><img src="../../resources/images/portalPage/p3_after-people.png" alt="메디친 멘토 연세대 의예과 또아"></div>
            </div>
            <!-- <div class="tit1-link">
                <a href="javascript:;">
                    <img src="../../resources/images/portalPage/p3_after_tab_cont1-link.png" alt="이투스 전국 모의고사 신청하기">
                </a>
            </div> -->
        </div>
    </div>

    <div class="color_bg cont2">
        <div class="inner">
            <div class="tit1-link">
                <img src="../../resources/images/portalPage/p3_cont2_img.png" alt="">
                <a href="javascript:;"><span class="blind">다운로드</span></a>
            </div> 
        </div>
    </div>
</div>
