/* 200701 */
.awl_page2 .container {max-width: 720px; margin: 0 auto;}

.awl_page2 header .headerWrap {position: relative;text-align: center;box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.49);z-index: 1;}
.awl_page2 header .backBtn {position: absolute;left: 18px;top: 50%;transform: translateY(-50%);display: inline-block; width: 12px; height: 20px; background: url("../../images/ic_back.png") no-repeat center;}
.awl_page2 header .pageTitTxt {font-size: 20px;font-weight: 500;line-height: 56px;}

.awl_page2 section.postDetail {padding: 11px 19px;}
.awl_page2 section.postDetail .postTitBox .titTxt {font-size: 16px;font-weight: 500;}
.awl_page2 section.postDetail .postTitBox .dateTxt {padding-top: 5px;font-size: 10px;opacity: 0.6;}
.awl_page2 section.postDetail .postCon {padding-top: 12px;font-size: 12px;line-height: 20px;white-space: pre-wrap;word-break: break-all;}
.awl_page2 section.couponDetail {padding: 11px 19px;}
.awl_page2 section.couponDetail .postTitBox .titTxt {font-size: 16px;font-weight: 500;}
.awl_page2 section.couponDetail .postTitBox .dateTxt {padding-top: 5px;font-size: 10px;opacity: 0.6;}
.awl_page2 section.couponDetail .postCon {padding-top: 12px;font-size: 12px;line-height: 14px;}
.awl_page2 section.couponDetail .useBtn {margin-top: 300px;background-color: #4169E1;color: #fff;border-radius: 8px;box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.25);text-align: center;display: inline-block;width: 100%;height: 50px;line-height: 50px;font-size: 16px;font-weight: 500;}
.awl_page2 section.coupon {padding: 21px 20px;}
.awl_page2 section.coupon .infoMsg {font-size: 13px;font-weight: 500;}
.awl_page2 section.post ul.postList li a {display: block;font-size: 0;position: relative;padding: 18px 19px 13px; white-space:pre-wrap;word-break:break-all;}
.awl_page2 section.post ul.postList li a:after {content: '';position: absolute;left: 16px;right: 16px;bottom: 0;height: 1px;background-color: #E9E9E9;}
.awl_page2 section.post ul.postList li a.on {background-color: #F8FAFF;}
.awl_page2 section.post ul.postList li a .infoBox {display: inline-block;vertical-align: middle;width: calc(100% - 69px);}
.awl_page2 section.post ul.postList li a .infoBox .titTxt {font-size: 16px; overflow:hidden;}
.awl_page2 section.post ul.postList li a .infoBox .subTxt {font-size: 12px;opacity: 0.6; display:block; width:270px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.awl_page2 section.post ul.postList li a .infoBox .dateTxt {font-size: 10px;opacity: 0.6;}
.awl_page2 section.post ul.postList li a .couponBox {line-height: 24px;display: inline-block;vertical-align: top;width: 69px;padding-left: 25px;box-sizing: border-box;}
.awl_page2 section.post ul.postList li a .couponBox span+span {margin-left: 5px;}
.awl_page2 section.post ul.postList li a .couponBox .coupon {display: inline-block;vertical-align: middle;width: 26px;height: 13px;background: url("../../images/ic_coupon.png") no-repeat center/contain;}
.awl_page2 section.post ul.postList li a .couponBox .new {display: inline-block;vertical-align: middle;width: 13px;height: 13.5px;background: url("../../images/ic_new.png") no-repeat center/contain;}

.btn_48 {display: inline-block;height: 48px;line-height: 50px;text-align: center;color: #fff !important;font-size: 13px;border-radius: 8px;background-color: #35384a;box-sizing: border-box;}
.btn_48.c_blue {background-color: #302cc8;}

.popup_alert_02 .inner_box {width: 388px;padding: 45px 45px 40px;}
.popup_alert_02 .title {margin-bottom: 80px;font-size: 14px;line-height: 32px;color: #111521;font-weight: 400;}
.popup_alert_02 .title strong {color: #302cc8;font-weight: 900;}
.popup_alert_02 .btn_box {text-align: center;}
.popup_alert_02 .btn_box>div {display: inline-block;overflow: hidden;}
.popup_alert_02 .btn_box>div button, .popup_alert_02 .btn_box>div a {float: left;margin: 0 4px;}

.popup_password .inner_box {width: 70%;padding: 40px;}
.popup_password .title {font-size: 14px;line-height: 20px;margin-bottom: 50px;color: #111521;font-weight: 400;text-align:center;}
.popup_password .title strong {color: #302cc8;font-weight: 700;}

/* 200707 */
#k_wrap.awl{max-width:720px;margin:0 auto;font-family:'Noto Sans KR', sans-serif;letter-spacing:-0.5px;}

#k_wrap.awl.point #header{height:48px;position:relative;background:#fff;}
#k_wrap.awl.point #header h1{font-size:20px;color:#000;padding-left:20px;box-sizing:border-box;line-height:48px;}
#k_wrap.awl.point #header .close{width:18px;height:18px;background:url(../../images/ic_close_x.png) no-repeat 0 0;position:absolute;right:18px;top:18px;background-size:cover;}

#k_wrap.awl.point .container ul:after{display:block;content:"";clear:both;}
#k_wrap.awl.point .container ul li{height:32px;float:left;width:33.3%;background:#fff;}
#k_wrap.awl.point .container ul li a{display:block;color:#7f7f7f;border-bottom:2px solid #e1e1e1;box-sizing:border-box;line-height:32px;height:34px;text-align:center;font-weight:500;font-size:14px;}
#k_wrap.awl.point .container ul li a.on{color:#302cc8;border-bottom:2px solid #302cc8;box-sizing:border-box;}
#k_wrap.awl.point .container .point .sum{padding:24px 26px;background:#fff;}
#k_wrap.awl.point .container .point .sum .hold_point{float:left;font-size:28px;position:relative;left:-6px;}
#k_wrap.awl.point .container .point .sum strong{float:left;font-size:28px;font-weight:700;margin-bottom:24px;background:url(../../images/ico_05.png) no-repeat 0 50%;background-size:23px 23px;padding-left:33px;}
#k_wrap.awl.point .container .point .sum .btn_cashout{width:100%;clear:both;cursor:pointer;border:0;height:43px;border-radius:8px;background:#302cc8;line-height:43px;display:block;color:#fff;box-sizing:border-box;font-size:14px;}
#k_wrap.awl.point .container .point .sum .btn_refill{width:100%;clear:both;cursor:pointer;border:0;height:43px;border-radius:8px;background:#302cc8;line-height:43px;display:block;color:#fff;box-sizing:border-box;font-size:14px;}
#k_wrap.awl.point .container .point .list_box{background:#fff;margin-top:10px;padding:24px 26px 26px;position:relative;}
#k_wrap.awl.point .container .point .list_box h3{font-size:14px;color:#484d60;padding-bottom:13px;}
#k_wrap.awl.point .container .point .list_box span.filter{position:absolute;right:26px;top:24px;font-size:14px;color:#8c909b;}
#k_wrap.awl.point .container .point .list_box .list{padding:15px 0;border-bottom:1px solid #e6e9f3;}
#k_wrap.awl.point .container .point .list_box .list:after{display:block;content:"";clear:both;}
#k_wrap.awl.point .container .point .list_box .list .f_left{float:left;}
#k_wrap.awl.point .container .point .list_box .list .f_left p{font-size:15px;color:#111521;margin-bottom:4px;}
#k_wrap.awl.point .container .point .list_box .list .f_left .status{font-size:13px;}
#k_wrap.awl.point .container .point .list_box .list .f_left .status.use{color:#ef6a73;}
#k_wrap.awl.point .container .point .list_box .list .f_left .status.refill{color:#47c8d5;}
#k_wrap.awl.point .container .point .list_box .list .f_left .date{color:#8c909b;padding-left:8px;font-size:13px;}
#k_wrap.awl.point .container .point .list_box .list .f_right{float:right;padding-top:10px;}
#k_wrap.awl.point .container .point .list_box .list .f_right strong{font-size:18px;color:#020203;padding-top:24px;}

#k_wrap.awl.point .container .account{padding:25px 26px 24px;background:#fff;}
#k_wrap.awl.point .container .account h2{color:#484d60;font-size:14px;margin-bottom:36px;}
#k_wrap.awl.point .container .account h3{color:#484d60;font-size:14px;margin-bottom:14px;}
#k_wrap.awl.point .container .account input{display:block;border-radius:8px;border:1px solid #d4d6de;height:48px;box-sizing:border-box;line-height:48px;width:100%;padding:0 16px;}
#k_wrap.awl.point .container .account input::placeholder{color:#b1b3b9;font-size:15px;}
#k_wrap.awl.point .container .account select{border:1px solid #d4d6de;width:100%;height:48px;line-height:48px;color:#111521;font-size:15px;padding:0 16px;box-sizing:border-box;border-radius:8px;-webkit-appearance: none;-moz-appearance: none;appearance: none;background:url(../../images/ico_arrow_down.png) no-repeat 96% 50%;background-size:11px 5px;}
#k_wrap.awl.point .container .account span.alert{display:block;font-size:13px;color:#8c909b;margin-top:6px;margin-bottom:28px;}
#k_wrap.awl.point .container .account button{border:0;cursor:pointer;background:#b8bdcb;border-radius:8px;color:#fff;height:43px;line-height:43px;box-shadow: 0 2px 4px 0 rgba(72, 77, 96, 0.24);margin-top:60px;width:100%;}
#k_wrap.awl.point .container .account button.on{background:#302cc8;}

#k_wrap.awl.point .container .cashout .sum{background:#fff;padding:24px 26px;margin-bottom:10px;}
#k_wrap.awl.point .container .cashout .sum:after{display:block;content:"";clear:both;}
#k_wrap.awl.point .container .cashout .sum span{float:left;font-size:22px;color:#020203;padding-left:27px;background:url(../../images/ico_05.png) no-repeat 0 50%;background-size:23px 23px;padding-top:2px;}
#k_wrap.awl.point .container .cashout .sum strong{float:right;font-size:24px;color:#020203;}
#k_wrap.awl.point .container .cashout .list{background:#fff;padding:24px 26px 26px;position:relative;}
#k_wrap.awl.point .container .cashout .list .filter{position:absolute;right:26px;}
#k_wrap.awl.point .container .cashout .list .filter:after{display:block;content:"";clear:both;}
#k_wrap.awl.point .container .cashout .list .filter p{float:left;margin-bottom:9px;}
#k_wrap.awl.point .container .cashout .list .filter p:first-of-type{margin-right:8px;}
#k_wrap.awl.point .container .cashout .list .filter select{border:1px solid #e6e9f3;border-radius:4px;width:auto;height:34px;line-height:34px;padding:0 14px;box-sizing:border-box;font-size:13px;-webkit-appearance: none;-moz-appearance: none;appearance: none;background:url(../../images/ico_arrow_down.png) no-repeat 90% 50%;background-size:8px 4px;min-width:90px;color:#111521;}
#k_wrap.awl.point .container .cashout .list table{width:100%;border-collapse:collapse;margin-top:42px;}
#k_wrap.awl.point .container .cashout .list table th,#k_wrap.awl.point .container .cashout .list table td{padding:20px 0;border-bottom:1px solid #f0f0f0;}
#k_wrap.awl.point .container .cashout .list table th{font-size:15px;color:#272b3d;font-weight:500;text-align:left;}
#k_wrap.awl.point .container .cashout .list table td{color:#020203;font-size:16px;text-align:right;font-weight:500;}
#k_wrap.awl.point .container .cashout .list table td span{display:block;width:63px;height:25px;border-radius:99px;color:#9098ac;border:1px solid #9098ac;text-align:center;font-size:12px;line-height:25px;font-weight:normal;}
#k_wrap.awl.point .container .cashout .list table td span.apply{border:0;background:#9098ac;color:#fff;}

#k_wrap.awl.coupon #header{height:48px;position:relative;background:#fff;}
#k_wrap.awl.coupon #header h1{font-size:20px;color:#000;padding-left:20px;box-sizing:border-box;line-height:48px;}
#k_wrap.awl.coupon #header .close{width:18px;height:18px;background:url(../../images/ic_close_x.png) no-repeat 0 0;position:absolute;right:18px;top:18px;background-size:cover;}

#k_wrap.awl.coupon .container ul:after{display:block;content:"";clear:both;}
#k_wrap.awl.coupon .container ul li{height:32px;float:left;width:50%;background:#fff;}
#k_wrap.awl.coupon .container ul li a{display:block;color:#7f7f7f;border-bottom:2px solid #e1e1e1;box-sizing:border-box;line-height:32px;height:34px;text-align:center;font-weight:500;font-size:14px;}
#k_wrap.awl.coupon .container ul li a.on{color:#302cc8;border-bottom:2px solid #302cc8;box-sizing:border-box;}
#k_wrap.awl.coupon .container .usable .sum{padding:25px 20px;background:#fff;border-bottom: solid 1px #cdcdcd;}
#k_wrap.awl.coupon .container .usable .sum span{float:left;font-size:22px;position:relative;top:2px;}
#k_wrap.awl.coupon .container .usable .sum strong{float:right;font-size:28px;font-weight:700;margin-bottom:16px;background:url(../../images/ic_mycoupon.jpg) no-repeat 0 50%;background-size:24px 14px;padding-left:39px;}
#k_wrap.awl.coupon .container .usable .sum span.alert{clear:both;display:block;font-size:11px;color:#8c909b;float:none;left:0;}
#k_wrap.awl.coupon .container .usable .list_box{background:#fff;padding:25px 20px 0;box-sizing:border-box;position:relative;border-top: solid 10px #f0f0f0;}
#k_wrap.awl.coupon .container .usable .list_box .detail{display:block;font-size:11px;color:#8c909b;margin-bottom:26px;}
#k_wrap.awl.coupon .container .usable .list_box .filter{position:absolute;top:25px;right:20px;font-size:14px;color:#8c909b;}
#k_wrap.awl.coupon .container .usable .list_box .list{border:1px solid #e7edfb;box-sizing:border-box;position:relative;border-radius:8px;height:90px;margin-bottom:6px;}
#k_wrap.awl.coupon .container .usable .list_box .list:after{display:block;content:"";clear:both;}
#k_wrap.awl.coupon .container .usable .list_box .list:before{display:block;content:"";width:36px;height:36px;border-radius:50%;background:#fff;position:absolute;right:-18px;top:50%;margin-top:-18px;border-left:1px solid #e7edfb;}
#k_wrap.awl.coupon .container .usable .list_box .list .f_left{float:left;width:78%;background:#fff;border-radius:8px 0 0 8px;line-height:1.2;padding:16px 13px;box-sizing:border-box;height:88px;border-right:1px dashed #e7edfb;}
#k_wrap.awl.coupon .container .usable .list_box .list .f_left p{font-size:13px;color:#181818;font-weight:700;}
#k_wrap.awl.coupon .container .usable .list_box .list .f_left b{font-size:11px;color:#505050;font-weight:500;}
#k_wrap.awl.coupon .container .usable .list_box .list .f_left .date{display:block;margin-top:7px;padding-left:17px;font-size:12px;color:#9b9ca1;background:url(../../images/ic_cal.png) no-repeat 0 50%;background-size:12px 12px;}
#k_wrap.awl.coupon .container .usable .list_box .list .f_right{float:right;width:22%;background:#eef3ff;border-radius:0 8px 8px 0;line-height:1;height:88px;padding:28px 0 0 0;text-align:center;box-sizing:border-box;}
#k_wrap.awl.coupon .container .usable .list_box .list .f_right strong{color:#647ab0;font-size:12px;}

#k_wrap.awl.coupon .container .usable .list_box .list.new .f_left{background:#f8faff;border-right:1px dashed #fff;}
#k_wrap.awl.coupon .container .usable .list_box .list.new .f_right{background:#cddafa;padding:20px 0 0 0;text-align:center;}
#k_wrap.awl.coupon .container .usable .list_box .list.new .f_right span.ico_new{width:13px;height:13px;display:block;background:url(../../images/ic_new.png) no-repeat 0 0;background-size:cover;position:relative;text-align:center;margin:0 auto 3.5px;}

#k_wrap.awl.coupon .container .used{background:#fff;}
#k_wrap.awl.coupon .container .used .list_box{padding:68px 20px 0;box-sizing:border-box;position:relative;}
#k_wrap.awl.coupon .container .used .list_box .filter{position:absolute;top:24px;right:20px;font-size:14px;color:#8c909b;}
#k_wrap.awl.coupon .container .used .list_box .list{border:1px solid #cdcdcd;box-sizing:border-box;position:relative;border-radius:8px;height:90px;margin-bottom:6px;}
#k_wrap.awl.coupon .container .used .list_box .list:after{display:block;content:"";clear:both;}
#k_wrap.awl.coupon .container .used .list_box .list:before{display:block;content:"";width:36px;height:36px;border-radius:50%;background:#fff;position:absolute;right:-18px;top:50%;margin-top:-18px;border-left:1px solid #cdcdcd;}
#k_wrap.awl.coupon .container .used .list_box .list .f_left{float:left;width:78%;background:#f7f7f7;border-radius:8px 0 0 8px;line-height:1.2;padding:16px 13px;box-sizing:border-box;height:88px;border-right:1px dashed #dbdbdb;}
#k_wrap.awl.coupon .container .used .list_box .list .f_left p{font-size:13px;color:#717171;font-weight:700;}
#k_wrap.awl.coupon .container .used .list_box .list .f_left b{font-size:11px;color:#a8a8a8;font-weight:500;}
#k_wrap.awl.coupon .container .used .list_box .list .f_left .date{display:block;margin-top:7px;padding-left:17px;font-size:12px;color:#9b9ca1;background:url(../../images/ic_cal.png) no-repeat 0 50%;background-size:12px 12px;}
#k_wrap.awl.coupon .container .used .list_box .list .f_right{float:right;width:22%;background:#e8e8e8;border-radius:0 8px 8px 0;line-height:1;height:88px;padding:28px 0 0 0;box-sizing:border-box;text-align:center;}
#k_wrap.awl.coupon .container .used .list_box .list .f_right strong{color:#9d9d9d;font-size:12px;}

#k_wrap.awl.coupon .pop{display:none;width:100%;height:100%;position:fixed;background:rgba(0,0,0,0.5);top:0;left:0;}
#k_wrap.awl.coupon .pop .inner_pop{width:80%;margin:0 auto;padding:10px 18px 1px 18px;box-sizing:border-box;background:#fff;border-radius:8px;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);-webkit-transform:translate(-50%, -50%);}
#k_wrap.awl.coupon .pop h3{font-size:16px;font-weight:500;text-align:center;margin-bottom:20px;}
#k_wrap.awl.coupon .pop h4{font-size:14px;color:#000;font-weight:500;margin-bottom:3px;}
#k_wrap.awl.coupon .pop span.date{font-size:10px;color:rgba(0,0,0,0.6);display:block;margin-bottom:16px;}
#k_wrap.awl.coupon .pop p{font-size:12px; line-height: 20px; white-space: pre-wrap; word-break: break-all;}
#k_wrap.awl.coupon .pop .inner_pop .close{width:16px;height:16px;position:absolute;right:18px;top:15px;background:url(../../images/ic_close_x.png) no-repeat 0 0;background-size:cover;}
#k_wrap.awl.coupon .pop.on{display:block;}
#k_wrap.awl.coupon .pop .inner_pop .inner_content div{font-size:12px; white-space: pre-wrap; word-break: break-all;}

#k_wrap.awl.coupon .no_show h2 {margin:120px 0; padding-top:76px; font-size:14px; color:#8c909b; text-align:center; background:url(../../images/ico_07.png) center 0 no-repeat; background-size:68px auto;}

@media (max-width:360px){
#k_wrap.awl.coupon .container .usable .list_box .list .f_left p{font-size:12px;}
#k_wrap.awl.coupon .container .usable .list_box .list .f_left b{font-size:10px;}
#k_wrap.awl.coupon .container .usable .list_box .list .f_right{padding:28px 8px 0 0;}
#k_wrap.awl.coupon .container .usable .list_box .list.new .f_right{padding:20px 8px 0 0;}
#k_wrap.awl.coupon .container .used .list_box .list .f_left p{font-size:12px;}
#k_wrap.awl.coupon .container .used .list_box .list .f_left b{font-size:10px;}
#k_wrap.awl.coupon .container .used .list_box .list .f_right{padding:28px 8px 0 0;}
}

.no_show h2 {margin:120px 0; padding-top:76px; font-size:14px; color:#8c909b; text-align:center; background:url(../../images/ico_07.png) center 0 no-repeat; background-size:68px auto;}
.no_show2 h2 {margin:120px 0; padding-top:76px; font-size:14px; color:#8c909b; text-align:center; background:url(../../images/ico_06.png) center 0 no-repeat; background-size:68px auto;}

.couponBtn{font-size:15px !important; background: #302cc8; color: #fff; text-align: center; border-radius: 8px; width: 100%; height: 40px; line-height: 40px; transform: translateY(-4px); margin-top: 9px;}
#couponCodeNm{border-radius: 8px;height: 40px;}
.inputClear{background: url(../../images/ic_input_clear_3x.png), rgba(255,255,255,1); background-repeat: no-repeat !important; background-size: 20px auto !important;position: absolute; width: 20px; height: 20px; right: 12px; top: 40px;}
.inputClearPc{background: url(../../images/ic_input_clear.png), rgba(255,255,255,1) !important; background-repeat: no-repeat !important; background-size: 20px auto !important;position: absolute; width: 20px; height: 20px; right: 40px; top: 125px;}