@charset "UTF-8";
@import "./modules/mixin";
@import url("https://portal.etoos.com/css/library/swiper.min.css");

body {
    font-family: "Noto Sans KR", sans-serif;
    overflow-y: scroll;
}

/* 로그인 GNB */
.loginGnb {
    .inner {
        position: relative;
        margin: 0 auto;
        width: 1280px;

        &:after {
            content: '';
            display: block;
            clear: both;
        }

        .btnWrap {
            float: right;
            display: flex;
            align-items: center;
            height: 50px;
            font-size: 0;

            a {
                position: relative;
                display: flex;
                padding: 0 16px;
                font: 400 15px/26px 'Noto Sans KR';
                color: #666;

                &:not(:last-child)::after {
                    content: '';
                    position: absolute;
                    top: 6px;
                    right: 0;
                    width: 1px;
                    height: 15px;
                    background-color: #ccc;
                }
            }
        }

        .login {}

        .logout {
            span {
                display: inline-block;
                line-height: 26px;
            }

            .out {
                margin-left: 6px;
                padding: 0 14px;
                height: 26px;
                font-size: 13px;
                line-height: 24px;
                border: 1px solid #ddd;
                border-radius: 100px;
                box-sizing: border-box;
            }
        }

        .mypage {
            // margin-left: 20px;
        }

        .name {
            font-weight: 700;
            color: #000;
        }
    }
}

/* 탑 배너 */
.top_bn {
    width: 100%;
    min-width: 1280px;

    .inner {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 1280px;
    }
}

/* 탑 레이아웃 */
.main_wrap .top_container {
    position: relative;

    .inner {
        position: relative;
        width: 1280px;
        margin: 0 auto;
    }
}

/* 탑으로 버튼 */
.toTop {
    position: fixed;
    right: 47px;
    bottom: 40px;
    opacity: 0;
    transition: opacity .3s ease-out .1s;
    z-index: 2;

    &.on {
        opacity: 1;
    }

    button {
        width: 56px;
        height: 56px;
        border-radius: 50%;
        background: bgurl("totop.png") no-repeat;
        font-size: 0;
    }

}

/* 플로팅버튼 */
.main_wrap .floating_bn {
    position: fixed;
    right: 20px;
    top: calc(100px + 80px + 40px);
    display: flex;
    flex-direction: column;
    z-index: 2;

    a {
        height: 180px;
    }

    a+a {
        margin-top: 18px;
    }
}

[data-ripple="true"] {
    position: relative;
    overflow: hidden;

    .animate {
        width: 2px;
        height: 2px;
        position: absolute;
        border-radius: 50%;
        animation: materialRipple 0.4s linear;
    }

    @keyframes materialRipple {
        0% {
            transform: translate(-50%, -50%) scale(1)
        }

        100% {
            transform: translate(-50%, -50%) scale(var(--material-scale));
            opacity: 0
        }
    }
}



/* 푸터 */
footer {
    width: 100%;
    min-width: 1280px;
    border-top: 1px solid #BEBEBE;

    .inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        padding: 55px 0 53px;
        width: 1280px;

        a {
            text-decoration: underline;
        }

        p.tit {
            font-weight: 700;
            font-size: 13px;
            line-height: 22px;
            color: #48505C;
        }

        p.txt {
            margin-top: 3px;
            font-weight: 500;
            font-size: 12px;
            line-height: 20px;
            color: #6D737D;
        }

        p.txt2 {
            margin-top: 16px;
        }
    }
}

// 레이어팝업
.main_wrap .popup_wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    opacity: 0;
    z-index: -100;

    &.is-open {
        opacity: 1;
        z-index: 510;
    }

    .popup-box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        font-size: 0;

        .box-top {
            position: relative;

            .closeBtn {
                position: absolute;
                top: 24px;
                right: 24px;
            }
        }

        .box-cont {
            position: relative;
            width: 600px;
            background-color: #fff;
            overflow-y: auto;
        }

        .box-cont::-webkit-scrollbar {
            display: none;
        }

        .box-cont .input-box {
            position: relative;
            margin-top: 26px;
            text-align: center;
        }

        .box-cont .input-box input {
            position: absolute;
            top: 147px;
            left: 20px;
            padding: 0 20px;
            width: 440px;
            height: 48px;
            box-sizing: border-box;
            font-size: 20px;
            font-weight: 500;
            background: transparent;
            color: #242424;
        }

        .box-cont .input-box input::placeholder,
        .box-cont .input-box input:disabled {
            color: #A9B4C5;
        }

        .box-cont .input-box input[disabled="true"] {
            color: #A9B4C5;
        }

        .box-cont .input-box input.inpPhone {
            top: 248px;
        }

        .box-cont .input-box.addr {
            margin-top: 8px;
            text-align: center;
        }

        .box-cont .input-box.addr .inpAddr1 {
            position: absolute;
            padding: 0 20px;
            top: -8px;
            left: 20px;
            width: 540px;
            height: 48px;
            box-sizing: border-box;
            font-size: 20px;
            font-weight: 500;
            background: rgba(0, 0, 0, 0);
            color: #242424;

        }

        .box-cont .input-box.addr div.inpAddr1 {
            position: static;
            margin-left: 20px;
            text-align: left;
        }

        .box-cont .input-box.addr .inpAddrBtn {
            position: absolute;
            top: 34px;
            left: auto;
            right: 80px;
            width: 54px;
            height: 48px;
            cursor: pointer;
        }

        .box-cont .input-box.addr .inpAddr2 {
            top: 90px;
        }

        .box-cont .input-box.grade {
            margin-top: 30px;
            margin-left: 40px;
            text-align: left;
        }

        .box-cont .input-box.grade .rdo_wrap {
            position: relative;
            margin-top: 2px;
        }

        .box-cont .input-box.grade .rdo_wrap label {
            font-size: 0;
        }

        .box-cont .input-box.grade input {
            top: 0;
            left: 0;
            width: 0;
            height: 0;
        }

        .box-cont .input-box.grade input+span {
            margin-left: 40px;
            padding-left: 34px;
            font-weight: 500;
            font-size: 20px;
            color: #242424;
        }

        .box-cont .input-box.grade label:first-child input+span {
            margin-left: 0;
        }

        .box-cont .input-box.grade input+span:before {
            content: "";
            position: absolute;
            top: -1px;
            left: 0;
            width: 32px;
            height: 32px;
            background: bgurl("event_tab_tit1_popup_rdo_icons.png") no-repeat;
            background-position: -10px -10px;
        }

        .box-cont .input-box.grade input:checked+span:before {
            // background-position: -64px -10px;
            background: bgurl("6p_before_tab4_pop_rdo_icon_on.png") 0 0 no-repeat;

        }

        .box-cont .input-box.grade .rdo_wrap label:nth-child(2) input+span:before {
            left: 104px
        }

        .box-cont .input-box.grade .rdo_wrap label:nth-child(3) input+span:before {
            left: 209px;
        }

        .box-cont .agree-box {
            position: relative;
            margin-top: 32px;
            border-top: 2px dashed #ddd;
            text-align: center;
        }

        .box-cont .agree-box .imgwrap {
            padding: 32px 40px 48px;
            text-align: left;
        }

        .box-cont .agree-box input+span {
            position: absolute;
            top: 109px;
            left: 40px;
            width: 30px;
            height: 30px;
            background: bgurl("event_tab_tit1_popup_chk_icons.png") no-repeat;
            background-position: -5px -5px;
            cursor: pointer;
        }

        .box-cont .agree-box input:checked+span {
            // background-position: -45px -5px;
            background: bgurl("6p_before_tab4_pop_chk_icon_on.png") 0 0 no-repeat;

        }

        .box-cont .agree-box label:nth-of-type(1)+button {
            position: absolute;
            top: 23px;
            right: 70px;
            width: 50px;
            height: 44px;
        }

        .box-cont .agree-box #agr2+span {
            top: 76px;
        }

        .box-cont .agree-box label:nth-of-type(2)+button {
            position: absolute;
            top: 75px;
            right: 70px;
            width: 50px;
            height: 44px;
            ;
        }

        .box-cont .agree-box .imgwrap2 {
            margin: 32px 0 40px;
        }

        .box-cont .closeBtn {
            position: absolute;
            top: 24px;
            right: 24px;
        }

        .box-bot {
            border-radius: 0 0 30px 30px;
        }

        .box-bot .submit img:nth-child(1) {
            display: inline;
        }

        .box-bot .submit img:nth-child(2) {
            display: none;
        }

        .box-bot .submit.on img:nth-child(1) {
            display: none;
        }

        .box-bot .submit.on img:nth-child(2) {
            display: inline;
        }
    }

    .popup-s-box {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .2);
        font-size: 0;

        .box-cont {
            position: relative;
        }

        .closeBtn {
            position: absolute;
            top: 25px;
            right: 25px;
            width: 22px;
            height: 22px;
        }

        .confirm {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 70px;
        }

        .confirm.cancel {
            width: 50%;
        }

        .confirm.cancel+.confirm {
            left: 50%;
            width: 50%;
        }

        .input-box {
            position: absolute;
            top: 130px;
            left: 40px;
        }

        .input-box label {
            display: block;
        }

        .input-box label input {
            padding: 0 20px;
            width: 379px;
            height: 48px;
            box-sizing: border-box;
            background: none;
            font-weight: 500;
            font-size: 20px;
            color: #242424;
        }

        .input-box label input::placeholder {
            color: #A9B4C5;
        }

        .input-box label:nth-child(2) {
            margin-top: 42px;
        }

        .rdo_wrap {
            position: absolute;
            top: 246px;
            left: 94px;
            width: 272px;
            height: 32px;
        }

        .rdo_wrap input {
            top: 0;
            left: 0;
            width: 0;
            height: 0;
        }

        .rdo_wrap input+span {
            margin-left: 40px;
            padding-left: 34px;
            font-weight: 500;
            font-size: 20px;
            color: #242424;
        }

        .rdo_wrap label:first-child input+span {
            margin-left: 0;
        }

        .rdo_wrap input+span:before {
            content: "";
            position: absolute;
            top: -1px;
            left: 0;
            width: 32px;
            height: 32px;
            background: bgurl("event_tab_tit1_popup_rdo_icons.png") no-repeat;
            background-position: -10px -10px;
        }

        .rdo_wrap input:checked+span:before {
            background-position: -64px -10px;
        }

        .rdo_wrap label:nth-child(2) input+span:before {
            left: 104px
        }

        .rdo_wrap label:nth-child(3) input+span:before {
            left: 209px;
        }

        .pop-down .cancel+.confirm {
            width: 230px;
            height: 70px;
            background: bgurl("event_tab_tit1_pop-chk2_off.png") no-repeat;

        }

        .pop-down .cancel+.confirm.on {
            background: none;
        }

        &#popup_type1,
        &#popup_comingsoon {
            .box-cont {
                width: 460px;
                height: 290px;
                border-radius: 30px 30px 35px 35px;
                background-color: #fff;

                .txt {
                    @include setFlexCenter;
                    flex-direction: column;
                    height: 220px;
                    text-align: center;
                    font: 700 22px/30px "Noto Sans KR";
                    color: #242424;

                    .subtxt {
                        margin-top: 2px;
                        font: 400 18px/30px "Noto Sans KR";
                        color: #999;
                    }
                }

                >a {
                    @include setFlexCenter;
                    border-radius: 0 0 30px 30px;
                    background-color: #000D7E;
                    font: 400 18px/18px "Noto Sans KR";
                    color: #fff;

                }
            }

        }

        &#popup_type2 {
            .box-cont {
                width: 460px;
                height: 220px;
                border-radius: 30px 30px 0 0;
                background-color: #fff;

                .txt {
                    @include setFlexCenter;
                    flex-direction: column;
                    height: 220px;
                    text-align: center;
                    font: 700 22px/30px "Noto Sans KR";
                    color: #242424;

                    .subtxt {
                        margin-top: 2px;
                        font: 400 18px/30px "Noto Sans KR";
                        color: #999;
                    }
                }

            }

            .box-bot {
                display: flex;
                height: 70px;

                a {
                    width: 230px;

                    &.cancle {
                        @include setFlexCenter;
                        border-radius: 0 0 0 30px;
                        background-color: #F5F5F5;
                        font: 400 18px/18px "Noto Sans KR";
                        color: #4A6083;

                    }

                    &.confirm {
                        position: static;
                        @include setFlexCenter;
                        border-radius: 0 0 30px 0;
                        background-color: #000D7E;
                        font: 400 18px/18px "Noto Sans KR";
                        color: #fff;

                    }
                }

            }

        }
    }

}